@page "/application/statistics"
@layout ApplicationLayout

<PageTitle>Aplicaci&oacute;n | Estad&iacute;sticas</PageTitle>

<section>
  <article>
    <div>
      <h4>Genera estad&iacute;sticas</h4>
      <p>Genera estad&iacute;sticas con la infomaci&oacute;n que necesites</p>
    </div>
    <div>
      <input type="text" class="input" placeholder="Buscar estadistico">
      <button type="button" class="button transparent-button">Crear un estad&iacute;stico</button>
    </div>
  </article>
  <article>
    <div class="statistics">
      <div class="statistic-target">
        <div class="statistic-info">
          <h3>
            Nombre del estad&iacute;stico
          </h3>
          <p>Descripci&oacute;n del estad&iacute;stico</p>
        </div>
        <div class="graphic">
          <div class="graphic-y">
            <ul>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
            </ul>
          </div>
          <div class="graphic-latest">
            <div class="graphic-statistic centered-container">
              <div class="graphic-background">
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
              </div>
              <div class="graphic-data">
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
              </div>
            </div>
            <div class="graphic-x">
              <ul>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="latest-info">
          <div class="information">
            <div>
              <div class="first-data-representation data-representation"></div>
              <p>Primero</p>
            </div>
            <div>
              <div class="second-data-representation data-representation"></div>
              <p>Segundo</p>
            </div>
          </div>
          <div class="centered-container">
            <button type="button" class="button primary-background-button">Editar</button>
          </div>
        </div>
      </div>
      <div class="statistic-target">
        <div class="statistic-info">
          <h3>
            Nombre del estad&iacute;stico
          </h3>
          <p>Descripci&oacute;n del estad&iacute;stico</p>
        </div>
        <div class="graphic">
          <div class="graphic-y">
            <ul>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
            </ul>
          </div>
          <div class="graphic-latest">
            <div class="graphic-statistic centered-container">
              <div class="graphic-background">
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
              </div>
              <div class="graphic-data">
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
              </div>
            </div>
            <div class="graphic-x">
              <ul>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="latest-info">
          <div class="information">
            <div>
              <div class="first-data-representation data-representation"></div>
              <p>Primero</p>
            </div>
            <div>
              <div class="second-data-representation data-representation"></div>
              <p>Segundo</p>
            </div>
          </div>
          <div class="centered-container">
            <button type="button" class="button primary-background-button">Editar</button>
          </div>
        </div>
      </div>
      <div class="statistic-target">
        <div class="statistic-info">
          <h3>
            Nombre del estad&iacute;stico
          </h3>
          <p>Descripci&oacute;n del estad&iacute;stico</p>
        </div>
        <div class="graphic">
          <div class="graphic-y">
            <ul>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
              <li>
                <p>10</p>
              </li>
            </ul>
          </div>
          <div class="graphic-latest">
            <div class="graphic-statistic centered-container">
              <div class="graphic-background">
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
                <div class="line-divisor">
                </div>
              </div>
              <div class="graphic-data">
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
                <div class="data">
                  <div class="first-data data-long"></div>
                  <div class="second-data data-long"></div>
                </div>
              </div>
            </div>
            <div class="graphic-x">
              <ul>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
                <li>
                  <p>10</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="latest-info">
          <div class="information">
            <div>
              <div class="first-data-representation data-representation"></div>
              <p>Primero</p>
            </div>
            <div>
              <div class="second-data-representation data-representation"></div>
              <p>Segundo</p>
            </div>
          </div>
          <div class="centered-container">
            <button type="button" class="button primary-background-button">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>