@page "/application/statistics"
@layout ApplicationLayout

<PageTitle>Aplicaci&oacute;n | Estad&iacute;sticas</PageTitle>

<section>
  <article>
    <div>
      <h4>Genera estad&iacute;sticas</h4>
      <p>Genera estad&iacute;sticas con la infomaci&oacute;n que necesites</p>
    </div>
    <div></div>
  </article>
  <article></article>
</section>