@page "/application/{InstitutionIdParam}/settings/{Direction}"
@layout ApplicationLayout

<PageTitle>Aplicaci&oacute;n | Configuraciones</PageTitle>

<section>
  <Bar IsToggle=@false Menu=@Menu Styles="min-width: 5%; max-width: 18%;"/>
  <div class="settings-content">
      @switch (Direction) {
        case "my-account":
          <UserProfile />
          break;
        case "roles":
          <Roles />
          break;
          case "users":
            <Users />
          break;
      }
  </div>
</section>

@code {
  [Parameter]
  public string Direction { get; set; } = string.Empty;
  [Parameter]
  public string InstitutionIdParam { get; set; } = string.Empty;
  [CascadingParameter(Name = "Institution")]
  public Guid InstitutionId { get; set; }

  private User User = new();

  private Menu Menu { get; set; } = new();

  protected override void OnInitialized() {
    Menu = new Menu() {
      MenuLabels = new List<string>() {
        "configuraciones de usuario", "configuraciones de aplicacion", "configuraciones de estudiantes", "configuraciones de institucion"
      },
      MenuItems = new List<List<List<string>>>() {
        new() {
          new() {
            "Mi cuenta", "fi fi-tr-circle-user", "0", $"/application/{InstitutionId}/settings/my-account"
          }
        },
        new() {
          new() {
            "Apariencia", "fi fi-tr-swatchbook", "1", "/application/settings/appearance"
          },
          new() {
            "Usuarios", "fi fi-tr-users-medical", "2", $"/application/{InstitutionId}/settings/users" 
          },
          new() { 
            "Roles", "fi fi-tr-rectangle-list", "3", $"/application/{InstitutionId}/settings/roles" 
          }
        },
        new() {
          new() { 
            "Estudiantes", "fi fi-tr-book-bookmark", "4", "/application/settings/students" 
          },
          new() { 
            "Cursos", "fi fi-tr-hockey-puck", "5", "/application/settings/courses" 
          },
          new() {
            "Pagos", "fi fi-tr-wallet", "6", "/application/settings/payments"
          }
        }, 
        new() {
          new() {
            "Insitucion", "fi fi-tr-house-chimney", "7", "/application/settings/institution"
          },
          new() {
            "Plan de pago", "fi fi-tr-money-check", "8", "/application/settings/payment-plan"
          }
        }
      },
      LastOption = new() {
      "Cerrar sesion", "fi fi-tr-arrow-to-right", "9", "/"
      }
    };
  }
}