section {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: flex;

}

.sidebar-user-profile {
  max-width: 20%;
  width: 100%;
  height: 100%;
  border-right: var(--light-border);
}

.sidebar-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--lightest-color);
  height: 100%;
  border-radius: 10px;
  margin: 10px;
}

.exit-sesion {
  margin-bottom: 16px;
}

.exit-sesion ul li {
  background: var(--light-danger-color);
  color: var(--danger-color);
}

.exit-sesion ul li p {
  color: var(--danger-color);
}

h5 {
  font-size: 0.7rem;
  padding: 10px 10px 0px;
}

h3 {
  font-size: var(--title);
  margin-bottom: 5px;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: 400;
}

ul {
  width: 100%;
  padding: 0px 10px;
}

ul li {
  background: var(--dark-color);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

ul li p {
  color: var(--white);
}

.primary-background-button {
  background: var(--dark-color);
}

.transparent-button {
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
}

.user-form {
  padding: 20px;
}

.user-information {
  padding: 0px 20px 20px;
  border-bottom: var(--light-border);
}

.user-form-inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.recommendation-message {
  margin-top: 6px;
  font-size: var(--small-text);
}

.birth-date-inputs {
  width: 100%;
  display: flex;
  gap: 10px;
}

fieldset {
  border: none;
  max-width: 50%;
  width: 100%;
  padding: 4px 8px 18px;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label div:first-child {
  display: flex;
}

.input {
  width: 100%;
}

textarea {
  font-family: var(--font-family);
  font-size: var(--regular-text);
  font-weight: 300;
  min-height: 100px;
  width: 100%;
  border: var(--light-border);
  resize: vertical;
  border-radius: 10px;
  padding: 10px 0px 10px 10px;
  overflow-wrap: break-word;
  overflow: hidden;
  outline: none;
}

strong {
  color: var(--danger-color);
}
