@page "/access/login"

<PageTitle>Landing | Login</PageTitle>

<FormProcess BackgroundImage="background-image: url(https://i.ibb.co/VWqTfKB/Frame-7-1.png);">
  <section class="sectioned-container">
    <Login />
  </section>
  <section class="sectioned-container"></section>
</FormProcess>

@code {
  [Inject]
  private NavBarContext NavBarContext { get; set;}

  protected override void OnInitialized() {
    NavBarContext.ChangeHideButtons(true);
  }
}
