@page "/access/login"
@layout LandingLayout

<PageTitle>Landing | Login</PageTitle>

<NavBar HideButtons="true" />

<FormProcess>
  <section class="sectioned-container">
    <Login />
  </section>
  <section class="sectioned-container"></section>
</FormProcess>

<Footer />