@page "/access/login"
@layout LandingLayout

<PageTitle>Landing | Login</PageTitle>

<NavBar HideButtons="true" />

<FormProcess BackgroundImage="background-image: url(https://i.ibb.co/TKqJz7w/template-education.png);">
  <section>
    <Login />
  </section>
  <section></section>
</FormProcess>

<Footer />