.sectioned-content {
  width: 400px;
}

.is-not-selected {
  display: none;
}

.navigation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 80px 0px 0px;
}

.circles {
  display: flex;
  width: 200px;
  position: relative;
  align-items: center;
}

.extension {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-behind {
  position: absolute;
  width: 100%;
  border-top: 1px solid var(--dark-color);
  z-index: 10;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: 1px solid var(--dark-color);
  z-index: 11;
}

.circle button {
  width: 70%;
  height: 70%;
  background: var(--white);
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

.circle .selected-option {
  background: var(--primary-color);
}

.options {
  justify-content: space-evenly;
  margin: 20px 0px;
  width: 320px;
}

.options p {
  font-size: var(--small-text);
  color: var(--dark-color);
  font-weight: 400;
}

.invoice-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 288px;
  max-width: 500px;
  width: 100%;
  padding: 10px;
}

.invoice-content-border {
  border-radius: 10px;
  border: var(--light-border);
  padding: 18px;
}

.invoice-info {
  width: 100%;
  border: var(--light-border);
}

.invoice-content {
  width: 100%;
}

.invoice-message, .invoice-info-message {
  padding-bottom: 16px;
  border-bottom: var(--light-border);
}

.total {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  border-top: var(--light-border);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul li p {
  font-size: var(--small-text);
}

.sm-circle {
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;
  border-radius: 100%;
  background: var(--primary-color);
}

.date-content {
  display: flex;
  gap: 20px;
  border-top: var(--light-border);
  padding-top: 10px;
}

.date-info div {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;
}

.date-info div p {
  color: var(--text-color);
  font-size: var(--smaller-text);
}

.date-info p, .date-info div i {
  color: var(--dark-color);
  font-size: var(--small-text);
  margin: 0px;
}

.date-info .renovation-info {
  color: var(--danger-color);
  cursor: pointer;
}

h4 {
  font-size: var(--title);
  font-weight: 600;
  margin-bottom: 10px;
}

i {
  font-size: 1.8rem;
  margin-right: 20px;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
}