@page "/register-institution" 

<PageTitle>Landing | Registrar nueva instituci&oacute;n</PageTitle>

<FormProcess Border="border-left: 1px solid var(--light-color)">
  <section class="sectioned-container">

  </section>
  <section class="sectioned-container">
    <div class="steps">
      <div class="step-container">
        <i class="fi fi-tr-badge-check"></i>
        <div>
          <h3>Detalles de la instituci&oacute;n</h3>
          <p>Ingresa la informaci&oacute;n de registro de tu instituci&oacute;n</p>
        </div>
      </div>
      <div class="step-container">
        <i class="fi fi-tr-badge-check"></i>
        <div>
          <h3>Detalles de la instituci&oacute;n</h3>
          <p>Ingresa la informaci&oacute;n de registro de tu instituci&oacute;n</p>
        </div>
      </div>
      <div class="step-container">
        <i class="fi fi-tr-badge-check"></i>
        <div>
          <h3>Detalles de la instituci&oacute;n</h3>
          <p>Ingresa la informaci&oacute;n de registro de tu instituci&oacute;n</p>
        </div>
      </div>
    </div>
  </section>
</FormProcess>
