@page "/access"
@layout LandingLayout

<PageTitle>Landing | Select option</PageTitle>

<NavBar HideButtons="true" />

<FormProcess BackgroundImage="background-image: url(https://i.ibb.co/TKqJz7w/template-education.png);">
  <section class="sectioned-container">
    <SelectOption />
  </section>
  <section class="sectioned-container"></section>
</FormProcess>

<Footer />
