<div class="access-container" style="@MaxWidth">
  <div class="access-title">
    <h3>@Title</h3>
    <p>@Description</p>
  </div>
  <div class="access-content" style="@MaxWidth">
    @ChildContent
  </div>
</div>

@code {
  [Parameter]
  [EditorRequired]
  public RenderFragment? ChildContent { get; set; }
  [Parameter]
  public string? Title { get; set; } = string.Empty;
  [Parameter]
  public string? Description { get; set; } = string.Empty;
  [Parameter]
  public string? MaxWidth { get; set; } = string.Empty;
}