.form-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

.form-content {
  min-width: 320px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 140px 20px;
}

.background-container {
  display: flex;
  min-width: 50%;
  min-height: 100vh;
}

@media (max-width: 767px) {
  .form-content {
    width: 100%;
  }

  .background-container {
    display: none;
  }
}