.form-container {
  width: 100%;
  min-height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.form-content {
  position: absolute;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 835px;
  margin-top: 65px;
  padding: 60px 20px;
}

.background-container {
  display: flex;
  width: 100%;
  min-height: 900px;
}

section {
  min-width: 50%;
}

section:last-child {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  section:last-child {
    background: none !important;
  }
}
