<div class="container-lc" style="@BackgroundUrl @MinHeight @BackgroundColor" id="@IdSection">
    <div class="content-lc">@ChildContent</div>
</div>

@code {
  
  [Parameter]
  public string? BackgroundUrl { get; set; }
  [Parameter]
  public string? BackgroundColor { get; set; }
  [Parameter]
  [EditorRequired]
  public string? MinHeight { get; set; }
  [Parameter]
  public string? IdSection { get; set; }
} 
