<div class="modal">
    <div class="cross">
        <i class="fi fi-tr-circle-xmark" @onclick="@(() => ExitModal(false))"></i>
    </div>
    @ChildContent
</div>

@code {
    [EditorRequired]
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private void ExitModal(bool goRegister) {
        
    }
}