@if (SettingsContext.ShowSettingsModal) { <SettingsModal /> }

<SideSettingsForm />

<section>
  <article>
    @ChildContent
  </article>
</section>

@code {
  [Parameter]
  [EditorRequired]
  public RenderFragment? ChildContent { get; set; }
  [Inject]
  private SettingsContext SettingsContext { get; set; }

  protected override void OnInitialized() {
    SettingsContext.SetShowSettingsModal(false);
    SettingsContext.SetShowSideForm(false);
    SettingsContext.OnChange += HandleStateChange;
  }

  private void HandleStateChange() {
    StateHasChanged();
  }
}