section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  padding: 20px;
  overflow-x: hidden;
}

article {
  min-width: 200px;
  max-width: 1150px;
  width: 100%;
  height: 100%;
}