@page "/access/select-institution"

<PageTitle>Landing | Select institution</PageTitle>

<FormProcess>
  <section class="sectioned-container">
    <SelectInstitution />
  </section>
  <section class="sectioned-container"></section>
</FormProcess>