.courses-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.courses-search {
  display: flex;
  justify-content: space-between;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 300px;
  max-width: 1700px;
  height: 100%;
  gap: 20px;
}

.course-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 288px;
  max-width: 32%;
  padding: 10px 24px 24px 24px;
  border-radius: 10px;
  border: 1px solid var(--light-color);
  background: var(--background-color);
}

.course-name {
  display: flex;
  justify-content: space-between;
  color: var(--dark-color);
  padding: 10px 0px;
  border-bottom: 1px solid var(--light-color);
}

.course-name p {
  color: var(--dark-color);
  font-size: var(--title);
}

.course-name h4 {
  font-size: var(--title);
  font-weight: 400;
}

.course-guide {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid var(--light-color);
  border-radius: 10px;
}

.course-guide div:first-child {
  display: flex;
  align-items: center;
}

.course-guide div p {
  margin-left: 10px;
} 

.course-guide div:first-child p:first-child {
  font-size: var(--regular-text);
  color: var(--dark-color);
}

.course-guide div:first-child p:last-child {
  font-size: var(--regular-text);
}

.guide-image {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  background: var(--light-color);
  border-radius: 100%;
}

.course-guide-option {
  width: 40px;
  border-radius: 10px;
  border: 1px solid var(--light-color);
  cursor: pointer;
}

.course-guide-option:hover {
  background: var(--light-color);
}

.course-guide-option i {
  font-size: 1.2rem;
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0px;
}

.subjects div {
  background: var(--light-color);
  padding: 5px 12px;
  border-radius: 10px;
}

.subjects div p {
  font-size: var(--regular-text);
  color: var(--dark-color);
}

.course-students {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--light-color);
  margin-top: 18px;
  padding-top: 15px;
}

.students-images {
  display: flex;
}

.student-image {
  width: 35px;
  height: 35px;
  background: var(--light-color);
  border: 1px solid var(--light-background-color);
  border-radius: 100%;
}

.students-quantity i {
  font-size: 1.3rem;
  margin-right: 10px;
}

input {
  width: 300px;
  margin-right: 14px;
}

.courses-no-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}