@page "/login"

<NavBar HideButtons="true"/>

<div class="login-process-container">
    <div class="login-process-content">
        <section>
            <Login />
        </section>
        <section>
        </section>
    </div>
</div>