@page "/application/{InstitutionId}/students"
@layout ApplicationLayout

<PageTitle>Aplicaci&oacute;n | Estudiantes</PageTitle>

<section>
  <article>
    <div class="students-info">
      <div>
        <h3>Estudiantes de la instituci&oacute;n</h3>
        <p>Busca la informaci&oacute;n de cualquier estudiante de la instituci&oacute;n</p>
      </div>
      <div>
        <div class="centered-container inputs">
          <input type="text" placeholder="Buscar estudiante" class="input search-input">
          <div>
            <input type="text" class="input" placeholder="Seleccionar curso">
          </div>
          <button type="button" class="button transparent-button centered-container" id="filter"><i class="fi fi-tr-filters"></i></button>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="students-list-container centered-container">
      <div class="students-list">
        <div class="students-fields">
          <ul>
            <li>
              <h5>Identificador</h5>
            </li>
            <li>
              <h5>Foto</h5>
            </li>
            <li class="special-width">
              <h5>Nombre completo</h5>
            </li>
            <li class="special-width">
              <h5>Correo electr&oacute;nico</h5>
            </li>
            <li>
              <h5>Genero</h5>
            </li>
            <li>
              <h5>Edad</h5>
            </li>
            <li>
              <h5>Curso</h5>
            </li>
            <li>
              <h5>Se agrego</h5>
            </li>
            <li>
              <h5>Acciones</h5>
            </li>
          </ul>
        </div>
        <div class="students">
          <div class="student-target">
            <ul>
              <li>
                <p>123456</p>
              </li>
              <li>
                <div class="student-image"></div>
              </li>
              <li class="special-width">
                <p>
                  Nombre completo del estudiante
                </p>
              </li>
              <li class="special-width">
                <p>
                  correoelectronico@delestudiante.com
                </p>
              </li>
              <li>
                <p>
                  Masculino
                </p>
              </li>
              <li>
                <p>
                  20
                </p>
              </li>
              <li>
                <p class="course">
                  BBBB
                </p>
              </li>
              <li>
                <p>
                  20/7/2023
                </p>
              </li>
              <li>
                <div class="action">
                  <i></i>
                </div>
              </li>
            </ul>
          </div>
          <div class="student-target">
            <ul>
              <li>
                <p>123456</p>
              </li>
              <li>
                <div class="student-image"></div>
              </li>
              <li class="special-width">
                <p>
                  Nombre completo del estudiante
                </p>
              </li>
              <li class="special-width">
                <p>
                  correoelectronico@delestudiante.com
                </p>
              </li>
              <li>
                <p>
                  Masculino
                </p>
              </li>
              <li>
                <p>
                  20
                </p>
              </li>
              <li>
                <p class="course">
                  BBBB
                </p>
              </li>
              <li>
                <p>
                  20/7/2023
                </p>
              </li>
              <li>
                <div class="action">
                  <i></i>
                </div>
              </li>
            </ul>
          </div>
          <div class="student-target">
            <ul>
              <li>
                <p>123456</p>
              </li>
              <li>
                <div class="student-image"></div>
              </li>
              <li class="special-width">
                <p>
                  Nombre completo del estudiante
                </p>
              </li>
              <li class="special-width">
                <p>
                  correoelectronico@delestudiante.com
                </p>
              </li>
              <li>
                <p>
                  Masculino
                </p>
              </li>
              <li>
                <p>
                  20
                </p>
              </li>
              <li>
                <p class="course">
                  BBBB
                </p>
              </li>
              <li>
                <p>
                  20/7/2023
                </p>
              </li>
              <li>
                <div class="action">
                  <i></i>
                </div>
              </li>
            </ul>
          </div>
          <div class="student-target">
            <ul>
              <li>
                <p>123456</p>
              </li>
              <li>
                <div class="student-image"></div>
              </li>
              <li class="special-width">
                <p>
                  Nombre completo del estudiante
                </p>
              </li>
              <li class="special-width">
                <p>
                  correoelectronico@delestudiante.com
                </p>
              </li>
              <li>
                <p>
                  Masculino
                </p>
              </li>
              <li>
                <p>
                  20
                </p>
              </li>
              <li>
                <p class="course">
                  BBBB
                </p>
              </li>
              <li>
                <p>
                  20/7/2023
                </p>
              </li>
              <li>
                <div class="action">
                  <i></i>
                </div>
              </li>
            </ul>
          </div>
          <div class="student-target">
            <ul>
              <li>
                <p>123456</p>
              </li>
              <li>
                <div class="student-image"></div>
              </li>
              <li class="special-width">
                <p>
                  Nombre completo del estudiante
                </p>
              </li>
              <li class="special-width">
                <p>
                  correoelectronico@delestudiante.com
                </p>
              </li>
              <li>
                <p>
                  Masculino
                </p>
              </li>
              <li>
                <p>
                  20
                </p>
              </li>
              <li>
                <p class="course">
                  BBBB
                </p>
              </li>
              <li>
                <p>
                  20/7/2023
                </p>
              </li>
              <li>
                <div class="action">
                  <i></i>
                </div>
              </li>
            </ul>
          </div>
          <div class="student-target">
            <ul>
              <li>
                <p>123456</p>
              </li>
              <li>
                <div class="student-image"></div>
              </li>
              <li class="special-width">
                <p>
                  Nombre completo del estudiante
                </p>
              </li>
              <li class="special-width">
                <p>
                  correoelectronico@delestudiante.com
                </p>
              </li>
              <li>
                <p>
                  Masculino
                </p>
              </li>
              <li>
                <p>
                  20
                </p>
              </li>
              <li>
                <p class="course">
                  BBBB
                </p>
              </li>
              <li>
                <p>
                  20/7/2023
                </p>
              </li>
              <li>
                <div class="action">
                  <i></i>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="students-list-options">
      <div>
        <p>P&aacute;gina 1 de 1</p>
      </div>
      <div class="buttons">
        <button type="button" class="button primary-background-button">P&aacute;gina anterior</button>
        <button type="button" class="button primary-background-button">P&aacute;gina siguiente</button>
      </div>  
    </div>
  </article>
</section>

@code {
  [Parameter]
  public string InstitutionId { get; set; }
}