@page "/application/{InstitutionId}/students"
@layout ApplicationLayout

<PageTitle>Aplicaci&oacute;n | Estudiantes</PageTitle>

<section>
  <article>
    <div class="students-info">
      <div>
        <h3>Estudiantes de la instituci&oacute;n</h3>
        <p>Busca la informaci&oacute;n de cualquier estudiante de la instituci&oacute;n</p>
      </div>
      <div>
        <div class="centered-container inputs">
          <button type="button" class="button transparent-button centered-container show-option">
            <i class="fi fi-tr-diagram-cells"></i>
          </button>
          <button type="button" class="button transparent-button centered-container show-option">
            <i class="fi fi-tr-rectangles-mixed"></i>
          </button>
          <input type="text" placeholder="Buscar estudiante" class="input search-input">
          <div>
            <input type="text" class="input" placeholder="Seleccionar curso">
          </div>
          <button type="button" class="button transparent-button centered-container" id="filter"><i class="fi fi-tr-filters"></i></button>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="students-list-container centered-container">
      <div class="students-list">
        <div class="students-fields">
          <ul>
            <li>
              <h5>Identificador</h5>
            </li>
            <li>
              <h5>Foto</h5>
            </li>
            <li class="special-width">
              <h5>Nombre completo</h5>
            </li>
            <li class="special-width">
              <h5>Correo electr&oacute;nico</h5>
            </li>
            <li>
              <h5>Genero</h5>
            </li>
            <li>
              <h5>Edad</h5>
            </li>
            <li>
              <h5>Curso</h5>
            </li>
            <li>
              <h5>Se agrego</h5>
            </li>
            <li>
              <h5>Acciones</h5>
            </li>
          </ul>
        </div>
        <div class="students">
          @if (Loading) {
            <div class="skeleton-container">
              @for (int i = 0; i < 15; i++) {
                <div class="skeleton-row"></div>
              }
            </div>
          } else {
            @for (int i = 0; i < 10; i++) {
              int index = i;

              <div class="student-target" style="@(index <= currentStudentIndex ? "opacity: 1;" : "opacity: 0;")">
                <ul>
                  <li>
                    <p>123456</p>
                  </li>
                  <li>
                    <div class="student-image"></div>
                  </li>
                  <li class="special-width">
                    <p>
                      Nombre completo del estudiante
                    </p>
                  </li>
                  <li class="special-width">
                    <p>
                      correoelectronico@delestudiante.com
                    </p>
                  </li>
                  <li>
                    <p>
                      Masculino
                    </p>
                  </li>
                  <li>
                    <p>
                      20
                    </p>
                  </li>
                  <li>
                    <p class="course">
                      BBBB
                    </p>
                  </li>
                  <li>
                    <p>
                      20/7/2023
                    </p>
                  </li>
                  <li>
                    <div class="action" @onclick="@(() => _navigationManager.NavigateTo(Route))">
                      <i></i>
                    </div>
                  </li>
                </ul>
              </div>
            }
          }
        </div>
      </div>
    </div>
    <div class="students-list-options">
      <div class="students-list-options-pages">
        <p>P&aacute;gina 1 de 1</p>
        <button type="button" class="button primary-background-button">Agregar un nuevo estudiante</button>
      </div>
      <div class="buttons">
        <button type="button" class="button primary-background-button">P&aacute;gina anterior</button>
        <button type="button" class="button primary-background-button">P&aacute;gina siguiente</button>
      </div>  
    </div>
  </article>
</section>

@code {
  [Parameter]
  public string InstitutionId { get; set; }
  [Inject]
  private NavigationManager _navigationManager { get; set; }
  public string Route { get; set; }
  private int currentStudentIndex = -1;
  private bool Loading { get; set; } = true;

  protected override async Task OnInitializedAsync() {
    await Task.Delay(900);

    Loading = false;

    await ShowStudentsOneByOne();
  }

  private async Task ShowStudentsOneByOne() {
    while (currentStudentIndex < 9) {
      await Task.Delay(65);
      currentStudentIndex++;
      StateHasChanged();
    }
  }

  protected override void OnInitialized() {
    Route = $"/application/{InstitutionId}/students/1000";
  }
}