<LandingComponents MinHeight="min-height: 100px;" IdSection="advantages">
    <section>
        @for (int i = 0; i < 3; i++) {
            int index = i;

            <article class="advantage-card">
                <div class="icon-title">
                    <div class="icon-box icon-@index">
    
                    </div>
                    <div>
                        <h4>@AdvantageTitles[index]</h4>    
                    </div>
                </div>
                <div>
                    <p>@AdvantagesText[index]</p> 
                </div>
            </article>
        }
    </section>
</LandingComponents>

@code {
    private List<string> AdvantagesText { get; set; } = new() {
        "Crea un ambiente especializado para la administración y organización de tu institución educativa, donde puedes optimizar tus procesos y simplificar la gestión de tareas académicas y administrativas diarias.", 
        "Asegura la información sensible de tu institución educativa con medidas de seguridad de vanguardia, garantizando la confidencialidad de los datos de estudiantes, profesores y personal.", 
        "Sé parte de la revolución de la digitalización en el ámbito educativo, adoptando tecnologías avanzadas que mantienen tu institución actualizada y competitiva en un mundo cada vez más digital."
    };
    private List<string> AdvantageTitles { get; set; } = new() {
        "Mantente profesional", "Asegura la información", "Se parte de la digitalización"
    };   
}   