section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.advantage-card {
  max-width: 400px;
  background: #f8f9fc;
  border-radius: 10px;
  padding: 20px;
}

.icon-box {
  min-width: 30px;
  min-height: 30px;
  border-radius: 10px;
}

.icon-0 {
  background-color: var(--light-success-color);
}

.icon-1 {
  background-color: var(--light-danger-color);
}

.icon-2 {
  background-color: var(--light-warning-color);
}

.icon-title {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.icon-title h4 {
  color: var(--dark-color);
  font-size: 1.2rem;
  font-weight: 400;
}


@media (max-width: 767px) {
  section {
    flex-wrap: wrap;
  }
}