<LandingComponents MinHeight="min-height: 400px;" IdSection="benefits" Reverse="@(MakeReverse ? "flex-direction: row-reverse;" : "")">
  <section class="centered-container-columns">
    @foreach (var benefit in BenefitsList) {
      <div class="benefit">
        <div class="centered-container">
          <i class="@benefit[2]"></i>
        </div>
        <div>
          <h4 class="sm-title">@benefit[0]</h4>
          <p>@benefit[1]</p>
        </div>
      </div>
    }
  </section>
  <section>
    <div>

    </div>
  </section>
</LandingComponents>

@code {
  [Parameter]
  public List<string[]> BenefitsList { get; set; } = new();
  [Parameter]
  public bool MakeReverse { get; set; }
}