section {
  min-width: 50%;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
}

.footer-info div {
  max-width: 400px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: color 1s ease-in-out;
}

li i {
  color: var(--white);
}

li:hover i, li:hover p {
  color: var(--white);
}

h3 {
  cursor: pointer;
  color: var(--white);
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

h5 {
  text-transform: none;
  color: var(--white);
}

p {
  font-size: 1rem;
  color: #b1b1b1;
}

.bottom {
  background: #17191A;
  height: 40px;
  border-top: 1px solid hsl(0, 0%, 21%);
  text-align: center;
}

.bottom p {
  font-size: 1rem;
}