<LandingComponents BackgroundUrl="background-image: url();" MinHeight="min-height: 520px;" IdSection="home">
  <section>
    <div class="info">
      <p>
        La mejor herramienta para tu centro
      </p>
    </div>
    <h2>
      Porque la <span>educaci&oacute;n</span> es lo m&aacute;s importante, te <span>brindamos</span> las herramientas <span>necesarias</span>.
    </h2>
    <p>
      Completa disposici&oacute;n para centros educativos y estudiantes. Todo lo que necesites lo encuentras aquí.
    </p>
    <div class="buttons">
      <button type="button" class="start-button button primary-background-button">
        Comenzar<i class="fi fi-tr-arrow-small-right"></i>
      </button>
      <button type="button" class="button transparent-button">
        Soy estudiante
      </button>
    </div>
  </section>
</LandingComponents>
