section {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

section:first-child {
    min-width: 60%;
}

section:last-child {
    min-width: 40%;
}

.info {
    display: flex;
}

.info p {
    font-size: var(--regular-text);
    background: #D9DFFF;
    padding: 5px 20px;
    border-radius: 10px;
    color: #4361EE;
}

h3 {
    font-size: 2.6rem;
    color: #000;
}

.buttons {
    margin-top: 20px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 span {
    color: #4361EE;
}

@media (max-width: 767px) {
    button {
        width: 100%;
    }
}
