@inject NavigationManager NavigationManager

<div class="navbar-container">
  <div class="navbar-content">
    <div>
      <p class="logo" @onclick="@(() => NavigationManager.NavigateTo("/"))">Landing</p>
    </div>
    <div class="navigation">
      <NavigationLinks
        HideOnMobile="hide-on-mobile"
        Styles="margin-right: 60px; justify-content: center;"
      />
      @if (!HideButtons) {
        <div class="buttons">
          <button type="button" class="button transparent-button" @onclick="@(() => NavigationManager.NavigateTo("/access"))">
            Iniciar sesi&oacute;n
          </button>
          <button type="button" class="button primary-background-button" @onclick="@(() => NavigationManager.NavigateTo("/access/register"))">
            Registrarse
          </button>
        </div>
      }
    </div>
  </div>
</div>

@code {
  [Parameter]
  [EditorRequired]
  public bool HideButtons { get; set; }
}