.navbar-container {
    height: 65px;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: fixed;
    background: var(--white);
    z-index: 10;
    box-shadow: 0 2px 1px var(--light-color);
}

.logo {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--dark-color);
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    min-width: 40px;
    min-height: 40px;
    background-image: url("https://i.ibb.co/bzLVpyy/bbaa-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding: 0 20px;
}

.navbar-container .navbar-content .hide {
    display: none;
}

.navbar-content div {
    display: flex;
    justify-content: center;
    align-self: center;
}

.navbar-content .user-options {
    display: flex;
    justify-content: initial;
    align-items: initial;
    position: absolute;
    top: 65px;
    right: 20px;
    width: 268px;
    border: var(--light-border);
    padding: 4px;
    border-radius: 10px;
    background: var(--white);
}

.navbar-content .nav-mobile {
    display: none;
}

.navigation-mobile {
    position: absolute;
    width: 80%;
    height: 100%;
    background: var(--white);
    border-left: var(--light-border);
    z-index: 1000;
    transition: right 0.4s ease-in-out;
    right: -80%;
}

.primary-background-button {
    background: var(--dark-color);
}

.primary-background-button:hover {
    color: var(--dark-color);
    background: var(--white);
    border: 1px solid var(--dark-color);
}

.transparent-button {
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
}


@media (max-width: 767px) {
    .navbar-container {
        padding: 0 30px;
    }
    
    .navbar-content .nav-mobile {
        display: flex;
    }

    .navbar-content .buttons {
        display: none;
    }

    .show-mobile {
        right: 0;
    }

    .navbar-content .navigation {
        display: none;
    }
}
