ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

li p:hover, li a:hover {
  color: var(--primary-color);
  cursor: pointer;
}

li a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}