@inject NavigationManager NavigationManager

<ul class="@HideOnMobile" style="@Styles">
  <li>
    <p @onclick="@(() => NavigationManager.NavigateTo("/application"))">Inicio</p>
  </li>
  <li>
    <p>
      Beneficios
    </p>
  </li>
  <li>
    <p>Planes</p>
  </li>
</ul>


@code {
  [Parameter]
  public string HideOnMobile { get; set; } = "";
  [Parameter]
  public string Styles { get; set; } = "flex-direction: row;";
}