ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

li p:hover {
  color: var(--primary-color);
  cursor: pointer;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}