@inject NavigationManager NavigationManager

<LandingComponents MinHeight="min-height: 350px;" IdSection="plans">
  <section>
    <div class="plan-card">
      <h3>Plan b&aacute;sico</h3>
    </div>
    <div class="plan-container">
      <article>
        <div class="plan-name">
          <h3>
            Plan centro educativo - plan de pago anual
          </h3>
        </div>
        <p>Un solo plan, obten acceso completo y renueva cuando quieras</p>
        <ul>
          <li>
            <div class="sm-circle"></div>
            <p>Control completo de la instituci&oacute;n</p>
          </li>
          <li>
            <div class="sm-circle"></div>
            <p>Manejo de la informaci&oacute;n de los estudiantes</p>
          </li>
          <li>
            <div class="sm-circle"></div>
            <p>Control de pagos personalizables</p>
          </li>
          <li>
            <div class="sm-circle"></div>
            <p>Manejo de la informaci&oacute;n de los estudiantes</p>
          </li>
          <li>
            <div class="sm-circle"></div>
            <p>Control de pagos personalizables</p>
          </li>
        </ul>
      </article>
      <article>
        <div class="price">
          <div>
            <h4>USD $100.00</h4>
            <p>Renovaci&oacute;n anual</p>
          </div>
        </div>
        <div class="button-content">
          <button class="button get-plan metallic-button" type="button" @onclick="@CheckRegisterUser">Conseguir</button>
        </div>
      </article>
    </div>
  </section>
</LandingComponents>

@code {
  [Inject]
  public UserContext UserContext { get; set; } 
  [Inject]
  public RegisterInstitutionContext InstitutionContext { get; set;}
  
  private void CheckRegisterUser() {
    if (UserContext.User == null) {
      InstitutionContext.SetShowRegisterModal(true);
    } else {
      NavigationManager.NavigateTo("/register-institution");
      InstitutionContext.CreateInstitution();
    }
  }
}
