section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  gap: 54px;
}

.card-container {
  position: relative;
  min-width: 240px;
  max-width: 340px;
  height: 550px;
  border: 1px solid var(--light-color);
  border-radius: 10px;
  padding: 45px 18px 18px 18px;
}

.benefits-c {
  padding: 0px 14px;
}

.benefits-container {
  margin: 14px 0px;
}

p {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

h4 {
  font-size: 2.4rem;
  margin: 14px 0px;
  font-weight: 500;
}

.sm {
  font-size: 1rem;
}

.includes {
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid var(--light-color);
  margin-bottom: 20px;
}

h5 {
  font-size: 1.4rem;
  font-weight: 500;
}

.icon-box {
  min-width: 30px;
  height: 30px;
  border-radius: 10px;
  background: var(--light-blue);
  margin-right: 20px;
}

i {
  color: var(--primary-color);
}

.button {
  width: 100%;
  margin: 20px 0px;
}

.card-name {
  position: absolute;
  top: -30px;
  left: calc(24%);
  width: 190px;
  background: var(--white);
  border: 1px solid var(--primary-color);
  text-align: center;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 10px 0px;
}





.plan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-color);
  border-radius: 10px;
  background-image: url("https://i.ibb.co/XsfwQ7R/payment.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.plan-container p, .plan-container h3, .plan-container h6 {
  color: var(--white);
}

.plan-container h3 {
  font-size: 1.7rem;
  margin-bottom: 4px;
}

.plan-container h6 {
  font-size: 1.1rem;
  font-weight: 400;

}

.plan-container article {
  min-width: 50%;
  max-width: 50%;
  height: 100%;
  padding: 40px;
}

.plan-name {
  margin-bottom: 12px;
}

.plan-container p {
  font-size: var(--regular-text);
}

.price {
  text-align: end;
}

h4 {
  font-size: 2.4rem;
  color: var(--white);
  margin: 4px 0px;
}

.button-content {
  align-self: self-end;
}

.get-plan {
  min-width: 250px;
  max-width: 300px;
  width: 100%;
  box-shadow: none;
  border: none;
  color: var(--primary-color);
  font-weight: 500;
  align-self: flex-end;
  padding: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 14px 0px 14px 6px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul li p {
  font-size: var(--small-text);
}

.sm-circle {
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;
  border-radius: 100%;
  background: var(--white);
}

.plan-container article:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
}

.metallic-button {
  position: relative;
  overflow: hidden;
}

.metallic-button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -100%;
  width: 200%;
  height: calc(100% + 20px);
  background: linear-gradient(120deg, transparent, transparent, transparent, transparent, transparent, rgb(176, 196, 255));
  opacity: 0.5;
  animation: move-glow 2s alternate infinite;
}

@keyframes move-glow {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}