section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  gap: 54px;
}

.plan-card {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  width: 100%;
  background: #f8f9fc;
  border-radius: 10px;
  padding: 20px;
}

.plan-name-card {
  display: flex;
}

.plan-card .especial-card h3 {
  color: var(--primary-color);
  background: var(--white);
}

.plan-name-card h3 {
  font-size: 1.2rem;
  color: var(--white);
  padding: 4px 10px;
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--white);
  margin-bottom: 16px;
}

.price {
  display: flex;
  flex-direction: column;
  margin: 10px 0 20px;
}

.price h4 {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--dark-color);
}

.plan-container .price h4, .plan-container .price h4 b {
  color: var(--white);
}

.price h4 b {
  color: var(--text-color);
  font-size: var(--regular-text);
}

.price p {
  font-size: var(--small-text);
}

.plan-benefits {
  border-top: var(--light-border);
  padding: 10px 0;
  margin-top: 20px;
}

.plan-benefits ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.plan-benefit-option {
  min-width: 16px;
  min-height: 16px;
  border-radius: 100%;
  background: var(--light-success-color);
}

.plan-container .plan-benefit-option {
  background: var(--white);
}

.plan-container {
  background: var(--primary-color);
  /*
  background-image: url("https://i.ibb.co/XsfwQ7R/payment.png");
  background-repeat: no-repeat;
  background-size: cover;*/
}

.plan-container p, .plan-container h3, .plan-container h6 {
  color: var(--white);
}

.plan-name {
  margin-bottom: 12px;
}

.plan-container p {
  font-size: var(--regular-text);
}


h4 {
  font-size: 2.4rem;
  color: var(--white);
  margin: 4px 0px;
}

.get-plan {
  min-width: 250px;
  width: 100%;
  box-shadow: none;
  border: none;
  color: var(--primary-color);
  font-weight: 500;
  align-self: flex-end;
  padding: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 14px 0px 14px 6px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul li p {
  font-size: var(--small-text);
}

.plan-container article:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
}

.metallic-button {
  position: relative;
  overflow: hidden;
}

.metallic-button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -100%;
  width: 200%;
  height: calc(100% + 20px);
  background: linear-gradient(120deg, transparent, transparent, transparent, transparent, transparent, rgb(176, 196, 255));
  opacity: 0.5;
  animation: move-glow 2s alternate infinite;
}

@keyframes move-glow {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}