@inject NavigationManager NavigationManager

<LandingComponents MinHeight="min-height: 400px;" IdSection="plans">
  <section>
    <div class="plan-container">
      <div>
        
      </div>
      <div></div>
    </div>
    <div class="card-container" style="display: none;">
      <div class="card-name">
        <h3>Basico</h3>
      </div>
      <p>Perfecto para comenzar</p>
      <h4>$100.00</h4>
      <p>Pago anual recurrente</p>
      <button type="button" class="general-button-styles primary-background-button button" @onclick="@(() => NavigationManager.NavigateTo("/register-institution"))">Comencemos</button>
      <div class="includes">
        <h5>¿Que incluye?</h5>
      </div>
      <div class="benefits-c">
      @foreach (string[] benefit in BenefitsDetails) {
        <div class="centered-container-rows benefits-container">
          <div class="icon-box centered-container"><i class="@benefit[1]"></i></div>
          <p class="sm">@benefit[0]</p>
        </div>
      }
      </div>
    </div>
  </section>
</LandingComponents>

@code {
  public List<string[]> BenefitsDetails { get; set; } = new List<string[]>();

  protected override void OnInitialized()
  {
    BenefitsDetails.Add(new string[] { "Este es un beneficio por contratar el sistema", "fi fi-tr-comment-alt-check" });
    BenefitsDetails.Add(new string[] { "Este es un beneficio por contratar el sistema", "fi fi-tr-comment-alt-check" });
    BenefitsDetails.Add(new string[] { "Este es un beneficio por contratar el sistema", "fi fi-tr-comment-alt-check" });
    BenefitsDetails.Add(new string[] { "Este es un beneficio por contratar el sistema", "fi fi-tr-comment-alt-check" });
    BenefitsDetails.Add(new string[] { "Este es un beneficio por contratar el sistema", "fi fi-tr-comment-alt-check" });
  }
}
