.invoice-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 288px;
  max-width: 500px;
  width: 100%;
  padding: 10px;
}

.invoice-content-border {
  border-radius: 10px;
  border: var(--light-border);
  padding: 18px;
}

.invoice-info {
  width: 100%;
  border: var(--light-border);
}

.invoice-content {
  width: 100%;
}

.invoice-message,
.invoice-info-message {
  padding-bottom: 16px;
  border-bottom: var(--light-border);
}

.total {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  border-top: var(--light-border);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 14px 0px 14px 6px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul li p {
  font-size: var(--small-text);
}

.sm-circle {
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;
  border-radius: 100%;
  background: var(--primary-color);
}

.date-content {
  display: flex;
  gap: 20px;
  border-top: var(--light-border);
  padding-top: 10px;
}

.date-info div {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;
}

.date-info div p {
  color: var(--text-color);
  font-size: var(--smaller-text);
}

.date-info p,
.date-info div i {
  color: var(--dark-color);
  font-size: var(--small-text);
  margin: 0px;
}

.date-info .renovation-info {
  color: var(--danger-color);
  cursor: pointer;
}

.renovation {
  position: relative;
}

.renovation .remove-renovation-info {
  display: none;
}

.renovation-information {
  width: 125px;
  position: absolute;
  top: 18px;
  padding: 5px;
  background: var(--white);
  border: var(--light-border);
  border-radius: 10px;
}

.renovation-information p {
  font-size: var(--small-text);
}

.payment-details {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail h6 {
  margin-bottom: 4px;
}

.amount p {
  text-align: end;
  font-size: var(--smaller-text);
  color: var(--light-text-color);
  padding-top: 4px;
}

h6 {
  font-size: var(--smaller-text);
  font-weight: 400;
  color: var(--dark-color);
}

h4 {
  font-size: var(--title);
  font-weight: 600;
  margin-bottom: 10px;
}