ul {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

ul li:first-child {
    display: flex;
}

.checkbox {
    all: unset;
    width: 15px;
    margin-right: 10px;
    border: 1px solid var(--light-color);
    border-radius: 10px;
    cursor: pointer;
}

.checkbox:checked {
    background: var(--primary-color);
}

.sm-text {
    font-size: 1rem;
}
