@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<AccessComponent Title="Hola, vamos a comenzar" Description="Completa los campos para crear tu cuenta" MaxWidth="max-width: 400px;">
    <div class="label">
      <label for="name">Nombre<strong>*</strong></label>
    </div>
    <input @bind="User.Name" class="input" type="text" placeholder="Ingresa tu nombre" id="name">
    <div class="label">
      <label for="last-name">Apellido<strong>*</strong></label>
    </div>
    <input @bind="User.LastName" type="text" class="input" placeholder="Ingresa tu apellido">
    <div class="label">
      <i class="fi fi-tr-at"></i>
      <label for="email">Correo electr&oacute;nico<strong>*</strong></label>
    </div>
    <input @bind="Register.Email" class="input" type="email" placeholder="Ingresar correo electrónico" id="email">
    <div class="label">
      <i class="fi fi-tr-vault"></i>
      <label for="password">Contrase&ntilde;a<strong>*</strong></label>
    </div>
    <div class="input-container">
      <input @bind="Register.Password" type="password" class="input" placeholder="Ingresa tu nueva contraseña" id="password" >
      <span class="input-icon">
        <i class="fi fi-tr-low-vision eye"></i>
      </span>
    </div>
    <div class="login-button">
      <button type="button" class="lgn-button button primary-background-button" @onclick="@CreateNewUser">
        Registrarme
      </button>
      <p>
        ¿Ya tienes una cuenta? <b>Iniciar sesi&oacute;n</b>
      </p>
    </div>
  
</AccessComponent>

@code {
  [Inject]
  private IUserService _userService { get; set; }
  public User User { get; set; } = new();
  public Register Register { get; set; } = new() {
    Id = Guid.NewGuid()
  };

  private void AssignUserData() {
    User.Id = Guid.NewGuid();
    User.Register = new Register {
        Id = Guid.NewGuid(),
        AuthenticationMethod = "EmailAndPassword",
        Email = Register.Email,
        Password = Register.Password,
        UserId = User.Id
    };

    User.OnlineStatus = new OnlineStatus {
        Id = Guid.NewGuid(),
        Status = true,
        LastConnection = DateTime.Now,
        UserId = User.Id
    };
  }

  private void CreateNewUser() {
    AssignUserData();

    _userService.Register(User);

    NavigationManager.NavigateTo("/");
  }
 }
