<AccessComponent Title="Hola, vamos a comenzar" Description="Seleciona una de las opciones para continuar">
  <div>
    <article>
      <div>
        <div></div>
        <div>
          <h4></h4>
          <p></p>
        </div>
      </div>
      <div></div>
    </article>
    <article>

    </article>
  </div>
</AccessComponent>
