.combo-container {
  width: 100%;
  position: relative;
}

.input-container {
  position: relative;
}

i {
  font-size: 1.2rem;
  color: var(--text-color);
  position: absolute;
  top: 20px;
  right: 18px;
  cursor: pointer;
}

ul {
  width: 100%;
  min-height: 40px;
  max-height: 200px;
  position: absolute;
  background: var(--white);
  border: 1px solid var(--light-color);
  border-radius: 10px;
  overflow: auto;
}

ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--text-color);
  padding: 4px 15px;
}

ul li:hover {
  background: var(--light-color);
  cursor: pointer;
}

ul li:active {
  background: var(--light-blue);
}

.input {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 50px;
}