@page "/access/register"

<PageTitle>Landing | Nuevo usuario</PageTitle>

<FormProcess>
  <section class="sectioned-container">
    <RegisterUser />
  </section>
  <section class="sectioned-container"></section>
</FormProcess>

