:root {
    --white: #FFFFFF;
    --primary-color: #4361EE;
    --dark-color: #0E1116;
    --text-color: #828A91;
    --light-text-color: #C2C2C2;
    --light-color: #ECECEC;
    --light-blue: #D9DFFF;
    --success-color: #3DC13C;
    --font-size-medium: 1.4rem;
    --font-family: 'Be Vietnam Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--font-family);
    font-size: 14px;
}

p {
    font-size: var(--font-size-medium);
    color: #56575D;
    font-weight: 300;
}

span::selection, p::selection, h5::selection {
    color: var(--white);
    background: var(--primary-color);
}

ul {
    list-style: none;
}

a, ul {
    text-decoration: none;
    font-size: var(--font-size-medium);
}

h1:focus {
    outline: none;
}

.mid-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.sm-title {
    font-size: 1.4rem;
    font-weight: 500;
}

a, .btn-link {
    color: var(--primary-color);
}

i {
    color: var(--dark-color);
    font-size: 1rem;
}

.icon:hover {
    color: var(--primary-color);
}

.centered-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.centered-container-rows {
    display: flex;
    justify-content: center;
}

.centered-container-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-content {
    align-content: center;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    min-width: 190px;
    padding: 14px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.2rem;
}

.primary-background-button {
    background: var(--primary-color);
    color: var(--white);
    border: 1px solid transparent;
    transition: background-color 200ms ease-in-out 0.01s;
}

.primary-background-button:hover {
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: background-color 200ms ease-in-out 0.01s;
}

.transparent-button {
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: border, color 200ms ease-in-out 0.01s;
}

.transparent-button:hover {
    background: none;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    transition: border, color 200ms ease-in-out 0.01s;
}

.not-enable-button {

}

.line-over-title {
    width: 200px;
    height: 3px;
    background: var(--primary-color);
    border-radius: 10px;
}
