:root {
    --font-family: 'Be Vietnam Pro', sans-serif;
    --light-border: 1px solid var(--light-color);
    --success-color: #3DC13C;
    --danger-color: #F13637;
    --light-danger-color: #f1363638;
    --warning-color: #F3BB1B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width:5px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-button {
    height: 16px;
}

::-webkit-scrollbar-button:start:decrement {
    background-color: var(--text-color);
    border-radius: 10px;
}

::-webkit-scrollbar-button:end:increment {
    background-color: var(--text-color);
    border-radius: 10px;
}

html, body {
    font-family: var(--font-family);
    font-size: 14px;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark-color);
}

h3 {
    font-size: var(--title);
    font-weight: 400;
}

h5 {
    margin-top: 8px;
    font-size: var(--sm-text);
    margin-bottom: 10px;
    color: var(--light-text-color);
    font-weight: 300;
    animation: fadeIn 0.5s ease-in-out;
    text-transform: uppercase;
}

p {
    font-size: var(--regular-text);
    color: var(--text-color);
    font-weight: 300;
}

span::selection, p::selection, h5::selection {
    color: var(--dark-color);
    background: var(--primary-color);
}

ul {
    list-style: none;
}

a, ul {
    text-decoration: none;
    font-size: var(--regular-text);
}

h1:focus {
    outline: none;
}

.mid-title {
    font-size: var(--title);
    font-weight: 400;
}

.sm-title {
    font-size: 1.4rem;
    font-weight: 500;
}

a, .btn-link {
    color: var(--primary-color);
}

i {
    color: var(--text-color);
    font-size: 1rem;
}

textarea {
    font-family: var(--font-family);
    font-size: var(--regular-text);
    color: var(--text-color);
    font-weight: 300;
    min-height: 100px;
    width: 100%;
    border: var(--light-border);
    resize: vertical;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    overflow-wrap: break-word;
    overflow: hidden;
    outline: none;
}

.icon:hover {
    color: var(--primary-color);
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-container-rows {
    display: flex;
    justify-content: center;
}

.centered-container-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-content {
    align-content: center;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    min-width: 100px;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: var(--regular-text);
    box-shadow: 5px 5px 25px var(--light-color);
}

.primary-background-button {
    background: var(--primary-color);
    color: var(--white);
    border: 1px solid transparent;
    transition: background-color 200ms ease-in-out 0.01s;
}

.primary-background-button:hover {
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: background-color 200ms ease-in-out 0.01s;
}

.transparent-button {
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: border, color 200ms ease-in-out 0.01s;
}

.transparent-button:hover {
    background: none;
    color: var(--text-color);
    border: 1px solid var(--light-primary-color);
    transition: border, color 200ms ease-in-out 0.01s;
}

.not-enabled-button {
    background: var(--light-color) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--light-color) !important;
    cursor: not-allowed;
}

.google-button {
    width: 100%;
    background: none;
    border: var(--light-border);
    color: var(--text-color);
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
    margin: 30px 0 20px;
}

.google-logo {
    min-width: 25px;
    min-height: 25px;
    background-image: url("https://i.ibb.co/0mzL0dq/7123025-logo-google-g-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 8px;
}

.line-over-title {
    width: 200px;
    height: 3px;
    background: var(--primary-color);
    border-radius: 10px;
}

.input {
    all: unset;
    min-width: 100px;
    max-width: 100%;
    padding: 8px 0 8px 10px;
    border: 1px solid var(--light-color);
    border-radius: 10px;
    font-size: var(--regular-text);
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: 300;
    box-sizing: border-box;
}

select {
    padding: 8px 10px 8px 10px;
    border: var(--light-border);
    border-radius: 10px;
    font-family: var(--font-family);
    font-size: var(--regular-text);
    color: var(--text-color);
    font-weight: 300;
}

.input::placeholder {
    font-family: var(--font-family);
    color: var(--text-color);
}

.sectioned-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}

.selected {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.user-no-photo-container {
    background-image: var("https://i.ibb.co/QM1z09q/circulo-de-usuario-1-2.png");
}

.content {
    position: relative;
}

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 180px;
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    background: var(--white);
    padding: 20px;
    text-align: center;
    margin: 0 20px;
}

.modal h3 {
    font-weight: 400;
}

.cross {
    position: absolute;
    top: 20px;
    right: 20px;
}

.cross i {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--danger-color)
}

.warning-circle {
    background: var(--light-danger-color);
}

.warning-circle i {
    color: var(--danger-color);
}

.state-circle {
    position: relative;
    margin: 16px 0;
    width: 54px;
    height: 54px;
    border-radius: 100%;
}

.state-circle i {
    margin: 0;
}

.success-circle i {
    color: var(--success-color);
}

.success-circle {
    background: var(--light-success-color);
}

.state-circle i {
    position: absolute;
    top: 14px;
    font-size: 2rem;
}

.buttons-modal {
    display: flex;
    gap: 10px;
    margin: 30px 0 0;
}

.buttons-modal button {
    border: none;
    background: var(--dark-color);
    color: var(--white);
}

.modal h3 {
    margin-bottom: 10px;
}

.user-form {
    width: 100%;
}

.user-selected-color {
    position: relative;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background: var(--light-color)
}

.user-info-img {
    display: flex;
    position: relative;
    padding: 16px;
}

.edit-color {
    position: absolute;
    right: 10px;
    bottom: 10px;
    min-width: 26px;
    min-height: 26px;
    border-radius: 10px;
    background: var(--light-color);
    opacity: .6;
    cursor: pointer;
    transition: opacity .1s ease-in-out;
}

.edit-color:hover {
    opacity: .8;
}

.user-main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-photo-container {
    width: 160px;
    height: 70px;
}

.user-profile-photo {
    position: absolute;
    min-width: 130px;
    min-height: 130px;
    background-color: var(--white);
    border-radius: 100%;
    top: -50px;
    left: 20px;
}

.user-photo {
    min-width: 110px;
    min-height: 110px;
    border-radius: 100%;
    background: var(--text-color);
}

.user-name-email p:first-child {
    color: var(--dark-color);
    font-size: var(--title);
}

.hide {
    display: none !important;
}

.spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top: 3px solid transparent;
    animation: spin 1s linear infinite;
    margin-top: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    max-width: 50%;
    width: 100%;
    padding: 4px 8px 14px;
}

.skeleton-container {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px auto;
}

.skeleton-row {
    height: 40px;
    margin: 8px 0;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    border-radius: 10px;
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        background-position: -200% 0;
    }

  100% {
        background-position: 200% 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

  100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1440px) {
    :root {
        --sm-text: 0.6rem;
        --regular-text: 0.74rem;
        --title: 0.9rem;
    }
}
