.application-container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
}

.right-container {
  width: 100%;
  height: 100%;
}

.left-container {
  position: relative;
  min-width: 100px;
  max-width: 200px;
  transition: width 0.2s ease-in-out;
}

.icon {
  font-size: 1.6rem;
  position: absolute;
  right: -45px;
  top: 20px;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1050px) {
  .left-container {
    display: none;
  }
}
