@inherits LayoutComponentBase

<div class="page">
  <div class="application-container">
    <div
      class="left-container"
      style="@ChildValue"
    >
      <SideBar />
    </div>
    <div class="right-container">
      <TopBar />
      <main>
        @Body
      </main>
    </div>
  </div>
</div>

@code {
  private string? ChildValue { get; set; }

  private void SetWidthValue(string value) {
    ChildValue = value;
  }
}
