.application-container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
}

.right-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
  max-height: 100vh;
}


.status-circle {
  min-width: 50px;
  min-height: 50px;
  border-radius: 100%;
}

.success {
  border: 1px solid var(--success-color);
}

.warning {
  border: 1px solid var(--warning-color);
}

.danger {
  border: 1px solid var(--danger-color);
}

.success .status-circle {
  background: var(--light-success-color);
}

.warning .status-circle {
  background-color: var(--light-warning-color);
}

.warning .status-circle i {
  color: var(--warning-color);
}

.success .status-circle i {
  color: var(--success-color);
}

.danger .status-circle {
  background: var(--light-danger-color);
}

.danger .status-circle i {
  color: var(--danger-color);
}

.status-circle i {
  font-size: 1.6rem;
}

.application-modal-status {
  position: absolute;
  min-width: 40%;
  min-height: 16%;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 8px;
  background: var(--background-color);
  z-index: 10000;
  padding: 20px;
  animation: disappear 3s linear forwards;
}

.left-container {
  position: relative;
  min-width: 10px;
  max-width: 14%;
  transition: width 0.2s ease-in-out;
}

.icon {
  font-size: 1.4rem;
  position: absolute;
  right: -45px;
  top: 2%;
  cursor: pointer;
  z-index: 1;
}

main {
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: column;
  background: var(--light-background-color);
}

.top {
  display: flex;
  gap: 10px;
  height: 8%;
  padding: 5px;
  padding-left: 14px;
  background: var(--side-bar-color);
  border: 1px solid var(--side-bar-light-color);
  overflow: hidden;
}

.institution-image {
  min-width: 18%;
  max-width: 18%;
  max-height: 75%;
  border-radius: 8px;
  align-self: center;
}

.logo-name {
  align-self: center;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.bar {
  height: 92%;
}

 h2 {
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
}

.logo-name p {
  font-size: var(--smaller-text);
  margin-top: 4px;
}

@keyframes disappear {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 1050px) {
  .left-container {
    display: none;
  }
}

@media (max-width: 1440px) {
  main {
    height: 90%;
  }
}


