@inherits LayoutComponentBase

<div class="page">
  <div class="application-container">
    <div class="left-container">
      <SideBar />
    </div>
    <div class="right-container">
      <TopBar />
      <main>
        <article class="content px-4">@Body</article>
      </main>
    </div>
  </div>
</div>

