@inherits LayoutComponentBase

<style>
    :root {
        --white: #FFFFFF;
        --primary-color: #4361EE;
        --dark-color: #0E1116;
        --text-color: #646f88;
        --light-text-color: #C2C2C2;
        --light-color: rgb(235, 235, 235);
        --lightest-color: #f5f5f5;
        --light-primary-color: #D9DFFF;
        --background-color: #FFFFFF;
        --smaller-text: 0.80rem;
        --small-text: 0.9rem;
        --regular-text: 1rem;
        --title: 1.3rem;
    }

    .content {
        overflow-x: hidden;
    }

    .user-information {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .user-info {
        display: flex;
        position: relative;
        padding: 16px;
    }
</style>

<div class="page">
    <main>
        <article class="content px-4">
            <NavBar />
            @Body
            <Footer />
        </article>
    </main>
</div>
