@inherits LayoutComponentBase

<style>
    :root {
        --white: #FFFFFF;
        --primary-color: #4361EE;
        --dark-color: #0E1116;
        --text-color: #7f8084;
        --light-text-color: #C2C2C2;
        --light-color: #ECECEC;
        --lightest-color: #f5f5f5;
        --light-primary-color: #D9DFFF;
        --success-color: #3DC13C;
        --danger-color: #F13637;
        --light-danger-color: #f1363638;
        --warning-color: #F3BB1B;
        --smaller-text: 0.85rem;
        --small-text: 0.9rem;
        --regular-text: 1rem;
        --title: 1.4rem;
    }

    .content {
        overflow-x: hidden;
    }

    .user-information {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .user-info {
        display: flex;
        position: relative;
        padding: 16px;
    }
</style>

<div class="page">
    <main>
        <article class="content px-4">
            <NavBar />
            @Body
            <Footer />
        </article>
    </main>
</div>

