@inherits LayoutComponentBase

<style>
    :root {
        --white: #FFFFFF;
        --primary-color: #4361EE;
        --dark-color: #0E1116;
        --text-color: #7f8084;
        --light-text-color: #C2C2C2;
        --light-color: #ECECEC;
        --light-primary-color: #D9DFFF;
        --success-color: #3DC13C;
        --danger-color: #F13637;
        --light-danger-color: #f1363638;
        --warning-color: #F3BB1B;
        --light-border: 1px solid var(--light-color);
        --smaller-text: 0.85rem;
        --small-text: 0.9rem;
        --regular-text: 1rem;
        --title: 1.4rem;
    }
</style>

<div class="page">
    <main>
        <article class="content px-4">
            <ManageModals />
            <NavBar />
            @Body
            <Footer />
        </article>
    </main>
</div>

@code {
    [Inject]
    private UserContext UserContext { get; set; }

    protected override void OnInitialized() {
        UserContext.OnChange += HandleStateChange;
    }

    

    private void HandleStateChange() {
        StateHasChanged();
    }
}
