<div class="action-buttons">
  <div class="action-button">
    <i class="fi fi-tr-users-medical"></i>
    <div class="action-button-info">
      <div class="action-stand">
      </div>
      <div>
        <h6>Agregar estudiante</h6>
        <p>Agrega un nuevo estudiante en la instituci&oacute;n</p>
      </div>
    </div>
    <div class="button-side">
      <button type="button" class="button primary-background-button">Nuevo estudiante</button>
    </div>
  </div>
  <div class="action-button">
    <i class="fi fi-tr-book-bookmark"></i>
    <div class="action-button-info">
      <div class="action-stand">
      </div>
      <div>
        <h6>Agregar curso</h6>
        <p>Agregar un nuveo curso en la instituci&oacute;n</p>
      </div>
    </div>
    <div class="button-side">
      <button type="button" class="button primary-background-button">Nuevo curso</button>
    </div>
  </div>
  <div class="action-button">
    <i class="fi fi-tr-calendar-day"></i>
    <div class="action-button-info">
      <div class="action-stand">
      </div>
      <div>
        <h6>Agendar evento</h6>
        <p>Agenda un nuevo eventos y asignale participantes</p>
      </div>
    </div>
    <div class="button-side">
      <button type="button" class="button primary-background-button">Agendar evento</button>
    </div>
  </div>
</div>