<div class="modal-title">
  <h4>Agregar asignatura al curso</h4>
  <p>Selecciona la asignatura que deseas agregar y asigna un guia de la asignatura para este curso</p>
</div>
<form>
  <fieldset>
    <div class="label">
      <label for="subject-selection"></label>
    </div>
    <select id="subject-selection" @bind="@SubjectId">
      <option disabled selected value="">Selecciona una opci&oacute;n</option>
      @foreach (var subject in Subjects) {
        if (!SubjectCourses.Any(s => s.SubjectId.Equals(subject.Id))) {
          <option value="@subject.Id.ToString()">@subject.Name</option>
        }
      }
    </select>
  </fieldset>
</form>
<div class="add-subject-button">
  <button type="button" class="button primary-background-button" @onclick="@CreateNewCourseSubject">Agregar asignatura al curso</button>
</div>
