<h4>Crear un nuevo curso</h4>

<label for="course-name"></label>
<input type="text" placeholder="Ingresar nombre del curso" id="course-name">

<label for="acronym"></label>
<input type="text" placeholder="Ingresar acronimo del curso" id="acronym">

<label for="guide">Seleccionar gu&iacute;a para el curso</label>

<button type="button" class="button">Crear curso</button>

@code {
  private Course Course { get; set; }
  
  private void CreateNewCourse() {
  
  }
}