section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article {
  height: 100%;
}

section article:first-child {
  width: 82%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

h4 {
  margin-bottom: 8px;
}

.first-dashboard-side, .second-dashboard-side {
  display: flex;
  gap: 16px;
  height: 50%;
}

.main-statistic-side {
  width: 40%;
}

.activity-action-side {
  width: 60%;
  display: flex;
  gap: 16px;
}

.greeting {
  position: relative;
  width: 100%;
  height: 33%;
  border-radius: 10px;
  background: var(--background-color);
  padding: 16px;
  border: var(--light-border);
}

.hour {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-transform: capitalize;
}

.recent-activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-color);
  border-radius: 10px;
  border: var(--light-border);
  max-width: 50%;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.recent-activity-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  margin-bottom: 10px;
  border-bottom: var(--light-border);
}

.recent-activity-info-text p {
  font-size: var(--small-text);
}

.activity-log {
  width: 100%;
  height: 60%;
}

.activity-log-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
}

.activity-box {
  position: relative;
  width: 100%;
  min-height: 10%;
  background: var(--light-color);
  border-radius: 6px;
}

.activity-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--small-text);
}

.activity-log-box {
  height: 100%;
  border-radius: 6px;
}

.activity-button i {
  color: var(--white);
}

.activity-button:hover i {
  color: var(--primary-color);
}

.hover-date {
  display: none;
  position: absolute;
  top: -150%;
  padding: 10px;
  border-radius: 4px;
  background: var(--background-color);
  border: var(--light-border);
  text-transform: capitalize;
  text-wrap: nowrap;
  z-index: 10;
}

.hover-date p {
  font-size: var(--small-text);
  color: var(--dark-color);
}

.activity-box:hover .hover-date {
  display: block;
}

.activity-button-side {
  display: flex;
  justify-content: right;
}

.recent-students,
.statistic {
  border-radius: 10px;
  background: var(--background-color);
  border: var(--light-border);
}

.recent-students {
  max-width: 75%;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.recent-students-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-students-tags ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 0 10px;
  border-bottom: var(--light-border);
}

.recent-students-tags ul li {
  display: flex;
  gap: 5px;
}

.recent-students-tags ul li:first-child, .recent-students-list ul li:first-child {
  width: 15%;
}

.recent-students-tags ul li:nth-child(2), .recent-students-list ul li:nth-child(2) {
  width: 10%;
}

.recent-students-list ul li:nth-child(3) p:first-child {
  color: var(--dark-color);
}

.recent-students-list ul li:nth-child(3) p:last-child {
  font-size: var(--small-text);
}

.recent-students-tags ul li:nth-child(3),
.recent-students-list ul li:nth-child(3) {
  width: 40%;
}

.recent-students-tags ul li:nth-child(4),
.recent-students-list ul li:nth-child(4) {
  width: 15%;
}

.recent-students-tags ul li:nth-child(5),
.recent-students-list ul li:nth-child(5) {
  width: 10%;
}

.recent-students-tags ul li:nth-child(6),
.recent-students-list ul li:nth-child(6) {
  width: 10%;
}

.little-box p {
  border-radius: 8px;
  padding: 6px 8px;
  background: var(--light-color);
  align-self: self-start;
}

.recent-student-image {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 100%;
}

.recent-students-tags ul li p {
  font-size: var(--small-text);
}

.recent-students-list {
  height: 100%;
  overflow-y: auto;
}

.students-no-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.recent-students-list ul {
  display: flex;
  padding: 10px 0;
  border-bottom: var(--light-border);
}

.recent-students-list ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recent-student-action {
  min-width: 26px;
  max-width: 26px;
  min-height: 26px;
  max-height: 26px;
  border-radius: 8px;
  background: var(--primary-color);
  align-self: center;
  cursor: pointer;
}

.recent-student-action i {
  color: var(--white);
}

.statistic {
  max-width: 30%;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.statistic-content {
  height: 100%;
}

.statistic-content .statistic-target {
  height: 100%;
  padding: 0;
  border: none;
  margin: 0;
}

.statistic-info, .recent-students-info-content, .recent-activity-info-text {
  display: flex;
  gap: 10px;
}

.statistic-info {
  margin: 0;
}

.stand-line {
  width: 10px;
  border-radius: 8px;
  background: var(--primary-color);
}

section article:last-child {
  position: relative;
  min-width: 16%;
  background: var(--background-color);
  border-left: 1px solid var(--light-color);
}

.online-users {
  height: 50%;
}

.events {
  height: 50%;
  overflow-y: auto;
}

.events-content {
  margin: 20px 0;
  height: 100%;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 10px;
}

.event-card {
  text-align: initial;
  padding: 10px;
  border-radius: 10px;
  border: var(--light-border);
}

.event-information {
  display: flex;
  gap: 10px;
}

.event-image {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 10px;
  background: var(--light-color);
}
