section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article {
  height: 100%;
}

section article:first-child {
  width: 82%;
  padding: 16px;
  overflow-y: auto;
}

h4 {
  margin-bottom: 8px;
}

.greeting {
  width: 40%;
  height: 100px;
  border-radius: 10px;
  background: var(--background-color);
  padding: 16px;
  border: var(--light-border);
}

.counters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40%;
  max-height: 35%;
  height: 100%;
  margin: 18px 0;
  gap: 16px;
}

.counter {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: var(--background-color);
  border: var(--light-border);
  padding: 16px;
}

.counter-icon {
  display: flex;
  justify-content: space-between;
}

.counter-icon-content {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 10px;
  background: var(--primary-color);
}

.counter-icon-content i {
  color: var(--white);
}

.counter-icon-content i {
  font-size: 1.4rem;
}

.counter-section h4 {
 margin: 5px 0;
}

.small {
  font-size: 0.78rem;
}

.recent-activity {
  background: var(--background-color);
  border-radius: 10px;
  border: var(--light-border);
  height: 40%;
  width: 36%;
  padding: 16px;
}

.recent-activity-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  margin-bottom: 10px;
  border-bottom: var(--light-border);
}

.recent-activity-info-text p {
  font-size: var(--small-text);
}

.activity-log {
  width: 100%;
  height: 60%;
}

.activity-log-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 4px;
}

.activity-box {
  position: relative;
  width: 100%;
  min-height: 10%;
  background: var(--light-color);
  border-radius: 6px;
}

.activity-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--small-text);
}

.activity-log-box {
  height: 100%;
  border-radius: 6px;
}

.activity-button i {
  color: var(--white);
}

.activity-button:hover i {
  color: var(--primary-color);
}

.hover-date {
  display: none;
  position: absolute;
  top: -150%;
  padding: 10px;
  border-radius: 4px;
  background: var(--background-color);
  border: var(--light-border);
  text-transform: capitalize;
  text-wrap: nowrap;
  z-index: 10;
}

.hover-date p {
  font-size: var(--small-text);
  color: var(--dark-color);
}

.activity-box:hover .hover-date {
  display: block;
}

section article:last-child {
  position: relative;
  min-width: 16%;
  background: var(--background-color);
  border-left: 1px solid var(--light-color);
}

.online-users {
  height: 50%;
}

.events {
  height: 50%;
  overflow-y: auto;
}

.events-content {
  margin: 20px 0;
  height: 100%;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 10px;
}

.event-card {
  text-align: initial;
  padding: 10px;
  border-radius: 10px;
  border: var(--light-border);
}

.event-information {
  display: flex;
  gap: 10px;
}

.event-image {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 10px;
  background: var(--light-color);
}