.general-role-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0 20px;
}

.role-action {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.role-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

fieldset, .fieldset-colors {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-width: 100%;
  margin: 10px 0;
  border-bottom: var(--light-border);
  padding-left: 0;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

fieldset .label, .fieldset-colors .label {
  max-width: 30%;
  width: 100%;
}

fieldset input, fieldset textarea {
  max-width: 40%;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.color-boxes {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  min-width: 200px;
  max-width: 400px;
  margin: 20px;
}

.custom-color p {
  margin-bottom: 10px;
}

