<style>
  .loading-state {
    min-height: 100vh;
    min-width: 100%;
    flex-direction: column;
    gap: 20px;
  }
</style>

<div class="loading-state centered-container">
  <div class="spinner"></div>
  <p>Cargando sitio...</p>
</div>