<SettingsModule>
  <div class="box-background-container">
    <div class="box-background">
      <h4>Plan de pago del servicio</h4>
      <p>Tu plan de pago actual para el servicio de la instituci&oacute;n</p>
    </div>
    <div class="box-background">

    </div>
  </div>
</SettingsModule>