<SettingsModule>
  <div class="box-background-container">
    <div class="box-background">
      <h4>
        Pagos de los estudiantes
      </h4>
      <p>Configuraci&oacute;n para los pagos de los estudiantes</p>
    </div>
    <div class="box-background">
      <div>
        <h6>Informaci&oacute;n de pago de los estudiantes</h6>
        <p>Agrega la informaci&oacute;n de pago para los estudiantes</p>
      </div>
    </div>
  </div>
</SettingsModule>