<h5>Permisos de administraci&oacute;n de la aplicaci&oacute;n</h5>

<div class="permissions-container">
  @foreach (var permission in Permissions) {
    int index = Permissions.IndexOf(permission);
    bool isRolePermission = RolePermissions.Any(r => r.PermissionId == permission.Id);

    <div class="box-background permission-content">
      <div>
        <h4>@SetPermissionName(permission.Name)</h4>
        <p>@permission.Description</p>
      </div>
      <div class="switch-container">
        <input type="checkbox" class="switch-input" id="mySwitch-@index" checked="@isRolePermission" @onclick="@(() => TogglePermission(index, isRolePermission))">
        <label class="switch-label" for="mySwitch-@index">
          <div class="switch-handle"></div>
        </label>
      </div>
    </div>
  }
</div>

@code {
  [Inject]
  private IPermissionService _permissionService { get; set; }
  [Inject]
  private RoleContext _roleContext { get; set; }
  [Inject]
  private RolesHubManager _rolesHubManager { get; set; }
  [Inject]
  private UserContext _userContext { get; set; }
  [Inject]
  private IRolePermissionService _rolePermissionService { get; set; }
  private List<Permission> Permissions { get; set; } = new();
  private List<RolePermission> RolePermissions { get; set; } = new();
  [Parameter]
  public List<Role> Roles { get; set; } = new();

  protected override async Task OnInitializedAsync() {
    _roleContext.OnChange += HandleStateChange;
  }

  protected override async Task OnParametersSetAsync() {
    var selectedRole = Roles.FirstOrDefault(l => l.Id == _roleContext.ActualRoleIdSelection);

    if (selectedRole != null) {
      RolePermissions = await _rolePermissionService.Get(selectedRole.Id);
    }

    Permissions = await _permissionService.Get();
  }

  private async Task TogglePermission(int index, bool isRolePermission) {
    if (isRolePermission) {
      await _rolePermissionService.Delete(RolePermissions.FirstOrDefault(rl => rl.PermissionId == Permissions[index].Id).Id);
    } else {
      await _rolePermissionService.Create(new RolePermission() {
        PermissionId = Permissions[index].Id,
        RoleId = _roleContext.ActualRoleIdSelection
      });
    }

    await _rolesHubManager.SendRolesUpdatedAsync(_userContext.User.InstitutionId.ToString());
  }

  private string SetPermissionName(PermissionName name) {
    string permissionName = string.Empty;

    switch (name) {
      case PermissionName.Administrator:
        permissionName = "Administrador";
        break;
      case PermissionName.HandleCourses:
        permissionName = "Administrar cursos";
        break;
      case PermissionName.HandleCoursesSettings:
        permissionName = "Administrar configuraciones de los cursos";
        break;
      case PermissionName.HandleEvents:
        permissionName = "Administrar eventos";
        break;
      case PermissionName.HandleInstitutionSettings:
        permissionName = "Administrar configuraciones de la institución";
        break;
      case PermissionName.HandleRolesSettings:
        permissionName = "Administrar configuraciones de roles";
        break;
      case PermissionName.HandleStatistics:
        permissionName = "Generar estadisticos";
        break;
      case PermissionName.HandleStudents:
        permissionName = "Administrar información de los estudiantes";
        break;
      case PermissionName.HandleStudentsSettings:
        permissionName = "Configurar categorias de información de los estudiantes";
        break;
      case PermissionName.HandleUsersSettings:
        permissionName = "Administrar configuraciones de usuarios de la institución";
        break;
      case PermissionName.SeeActivity:
        permissionName = "Ver registro de actividad";
        break;
      case PermissionName.SeeCourses:
        permissionName = "Ver información de los cursos";
        break;
      case PermissionName.SeeEvents:
        permissionName = "Ver información de eventos";
        break;
      case PermissionName.SeeStudents:
        permissionName = "Ver información de estudiantes";
        break;
      case PermissionName.SeeRoles:
        permissionName = "Ver información de roles";
        break;
    }

    return permissionName;
  }

  private void HandleStateChange() {
    StateHasChanged();
  }
}
