.permissions-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.permission-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}