.article {
  padding: 34px;
  width: 100%;
  min-width: 288px;
  max-width: 1400px;
  height: 100%;
}

article:last-child {
  height: 100%;
}

.roles-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 24px;
  margin: 10px 0px;
  border-bottom: 1px solid var(--light-color);
}

.roles-actions input {
  width: 68%;
}

.roles-actions button {
  width: 30%;
}

.roles-settings-container article:last-child {
  margin: 8px 0px 33px;
}

.roles-list {
  padding: 18px;
  background: var(--background-color);
  border-radius: 10px;
}

.tags {
  display: flex;
  background: var(--light-color);
  border-radius: 10px;
  padding: 0px 10px;
}

.tags li, .rol-element li {
  width: 20%;
}

.rol-element {
  display: flex;
  justify-content: space-between;
  padding:  14px 10px;
}

.update-rol {
  min-width: 30px;
  min-height: 30px;
  background: var(--primary-color);
}