.roles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

article:last-child {
  height: 100%;
}

.roles-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 24px;
  margin: 8px 0px;
  border-bottom: 1px solid var(--light-color);
}

.roles-actions input {
  max-width: 68%;
  width: 100%;
}

.roles-actions button {
  max-width: 15%;
  width: 100%;
}

.roles-settings-container article:last-child {
  margin: 8px 0px 33px;
}

.roles-list {
  background: var(--background-color);
  border-radius: 10px;
}

.tags {
  display: flex;
  background: var(--light-color);
  border-radius: 10px;
  padding: 10px;
}

.skeleton-load ul {
  display: flex;
}

.skeleton-load ul li .skeleton-row {
  max-height: 25px;
}

.skeleton-load ul li {
  padding-right: 20px;
}


.tags li, .rol-element li, .skeleton-load ul li {
  width: 20%;
}

.rol-element {
  display: flex;
  justify-content: space-between;
  padding:  14px 10px;
  border-bottom: var(--light-border);
}

.rol-element:hover {
  background: var(--special-light-color);
  border: var(--light-border);
  border-radius: 10px;
}

.rol-element li {
  display: flex;
  align-items: center;
}

.tags li:first-child, .tags li:last-child, .rol-element li:first-child, .rol-element li:last-child {
  justify-content: center;
  text-align: center;
}

.rol-element li:nth-child(3), .rol-element li:nth-child(4) {
  gap: 10px;
}

.update-rol {
  min-width: 30px;
  min-height: 30px;
  background: var(--primary-color);
}

.no-roles-results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}