<section>
  <div class="roles-settings-container">
    <article>
      <div>
        <h3>
          Roles de la instituci&oacute;n
        </h3>
        <p>Crea y edita roles personalizables, selecciona sus permisos y asignalos a los miembros de la instituci&oacute;n</p>
      </div>
      <div class="roles-actions">
        <input type="text" placeholder="Buscar rol" class="input">
        <button type="button" class="button primary-background-button">Crear rol</button>
      </div>
    </article>
    <article>
      <div class="roles-list">
        <ul>
          <li>
            <p>Color</p>
          </li>
          <li>
            <p>Nombre del rol</p>
          </li>
          <li>
            <p>Cantidad de miembros</p>
          </li>
          <li>
            <p>Cantidad de permisos</p>
          </li>
          <li>
            <p>Acciones</p>
          </li>
        </ul>
        <div>
          @for (int i = 0; i < 10; i++) {
            <div class="rol-card">
              <ul>
                <li>
                  <div></div>
                </li>
                <li>
                  <p>Nombre del rol</p>
                </li>
                <li>
                  <p>1</p>
                </li>
                <li>
                  <p>19</p>
                </li>
                <li>
                  <div></div>
                </li>
              </ul>
            </div>
          }
        </div>
      </div>
    </article>
  </div>
</section>