.searcher-users {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 16px 0;
}

.searcher-users .input {
  width: 100%;
}

.users-selection-tags ul {
  display: flex;
  width: 100%;
  padding: 0 0 2px;
  margin: 0 5px;
  border-bottom: var(--light-border);
}

.users-selection-tags ul li:first-child, .users-no-institution-list ul li:first-child {
  width: 13%;
}

.users-selection-tags ul li:nth-child(2),
.users-no-institution-list ul li:nth-child(2) {
  width: 53%;
  display: flex;
}

.users-selection-tags ul li:nth-child(3),
.users-no-institution-list ul li:nth-child(3) {
  width: 20%;
}

.users-selection-tags ul li:nth-child(4),
.users-no-institution-list ul li:nth-child(4) {
  width: 14%;
}

.user-info-selection p {
  font-size: var(--small-text);
}

.user-info-selection p:first-child {
  color: var(--dark-color);
  font-weight: 500;
}

.users-no-institution-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 240px;
  overflow-y: auto;
  padding: 10px 5px;
}

.users-no-institution-list ul {
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: var(--light-border);
}

.users-no-institution-list ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.users-no-institution-list ul li .skeleton-row {
  height: 15px;
  margin: 0 10px;
}

.users-no-institution-list ul li:first-child .skeleton-row {
  height: 38px;
  width: 38px;
  border-radius: 100%;
}

.users-no-institution-list ul li:last-child .skeleton-row {
  height: 28px;
}

.user-image-selection {
  min-width: 38px;
  max-width: 38px;
  min-height: 38px;
  border-radius: 100%;
  background: var(--light-color);
  margin: 0 10px;
}

.username-user-info p {
  align-self: self-start;
  padding: 4px;
  border-radius: 4px;
  background: var(--light-color);
  font-size: var(--small-text);
}

.gray-button {
  align-self: self-start;
}

.no-users {
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}