.searcher-users {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 16px 0;
}

.searcher-users .input {
  width: 100%;
}

.user-image-selection {
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
}