.category-navigation ul {
  width: 100%;
  display: flex;
}

.navigation-selection {
  border-bottom: 3px solid var(--primary-color);
  padding: 20px;
}

.navigation-selection p {
  color: var(--primary-color);
}