.show-student-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category-navigation ul {
  width: 100%;
  display: flex;
}

.navigation-selection {
  border-bottom: 3px solid var(--primary-color);
}

.navigation-selection p {
  color: var(--primary-color);
}