<section>
  <div>
    <div>
      <h3>Estudiantes de la instituci&oacute;m</h3>
      <p>
        Busca la informaci&oacute;n de cualquier estudiante de la instituci&oacute;n
      </p>
    </div>
    <div></div>
  </div>
  <div>
    <div>
      <button type="button" class="button ">
        <i></i>
        Agregar un nuevo estudiante
      </button>
      <div>
        <input type="text">
        <div></div>
        <div></div>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <p>
              Identificador &uacute;nico
            </p>
          </li>
          <li>
            <p>
              Identificador &uacute;nico
            </p>
          </li>
          <li>
            <p>
              Identificador &uacute;nico
            </p>
          </li>
          <li>
            <p>
              Identificador &uacute;nico
            </p>
          </li>
          <li>
            <p>
              Identificador &uacute;nico
            </p>
          </li>
        </ul>
      </div>
      <div></div>
    </div>
    <div>
      <p>P&aacute;gina 1 de 1</p>
      <div>
        <button type="button"></button>
        <button type="button"></button>
      </div>
    </div>
  </div>
</section>