section {
  width: 100%;
  min-height: 100%;
}

section article:first-child {
  height: 8%;
}

section article:last-child {
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

input {
  background: var(--primary-color);
}

.students-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--light-background-color);
  padding: 0px 20px;
  border-bottom: 1px solid var(--light-color);
}

.search-input {
  width: 350px;
}

.inputs {
  gap: 12px;
}

.students-list-container {
  width: 100%;
  height: 90%;
  padding: 20px;
}

.students-list {
  width: 100%;
  min-width: 300px;
  max-width: 1600px;
  height: 100%;
  border-radius: 10px;
  overflow-y: auto;
}

.students-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background: var(--light-background-color);
  border-bottom: 1px solid var(--light-color);
  padding: 0px 20px;
}

.students-fields {
  width: 100%;
  height: 38px;
  border-bottom: 1px solid var(--light-color);
}

.students-fields ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.students-fields ul li p {
  font-size: 0.85rem;
  text-transform: uppercase;
}

.students {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.student-target {
  width: 100%;
  border-bottom: 1px solid var(--light-color);
  transition: background 0.1s, opacity 0.4s ease-in-out;
  padding: 6px 6px 10px;
  margin-bottom: 10px;
}

.student-target:hover {
  background: var(--light-color);
}

.student-target ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-image {
  width: 40px;
  height: 40px;
  background: var(--light-color);
  border-radius: 100%;
}

#filter, .show-option {
  min-width: 20px;
  max-width: 20px;
  background: var(--primary-color);  
}

.student-target ul li, .students-fields ul li {
  display: flex;
  width: 8.5714%;
}

.student-target ul li:last-child, .students-fields ul li:last-child {
  justify-content: right;
}

.student-target .special-width, .students-fields .special-width {
  width: 20%;
}

.student-target ul li p {
  color: var(--text-color);
}

.course {
  padding: 5px;
  border-radius: 10px;
  background: var(--light-color);
}

.action {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: var(--primary-color);
  cursor: pointer;
}

.students-list-options {
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: var(--light-background-color);
  border-top: 1px solid var(--light-color);
}

.students-list-options-pages {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1440px) {
  section article:first-child {
    height: 12%;
  }

  section article:last-child {
    height: 88%;
  }
}