.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  overflow-y: auto;
}

.user-container {
  display: flex;
  width: 100%;
  min-width: 288px;
  max-width: 1400px;
  background: var(--light-background-color);
  border-radius: 10px;
  padding: 15px 15px 150px;
}

.user-content {
  width: 100%;
}

.user-form {
  padding: 0px 20px;
  width: 100%;
}

.buttons {
  justify-content: right;
}

label {
  color: var(--dark-color);
  font-size: var(--regular-text);
}

input {
  width: 100%;
  max-width: 500px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 0px;
}

.user-photo {
  max-width: 100px;
  max-height: 100px;
}

.inputs-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid var(--light-color);
  border-top: 1px solid var(--light-color);
  padding: 14px 0px;
}

.inputs-block div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.roles {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rol-box {
  display: flex;
  width: 100%;
  padding: 5px;
  background: var(--primary-color);
  border-radius: 10px;
}

.rol-box p {
  color: var(--text-color);
}

.rol-color {
  min-width: 20px;
  min-height: 20px;
  background: var(--light-color);
  border-radius: 100%;
  margin-right: 10px;
}

article:last-child {
  min-width: 18%;
  background: var(--light-background-color);
  overflow-y: auto;
}

article {
  height: 100%;
}


h3 {
  font-size: var(--title);
  margin-bottom: 5px;
}

ul {
  width: 100%;
  padding: 0px 10px;
}

ul li {
  background: var(--dark-color);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  opacity: 1;
}

ul li p {
  color: var(--white);
}

.my-account i {
  display: none;
}

.primary-background-button {
  background: var(--dark-color);
}

.transparent-button {
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
}

.user-form {
  padding: 20px;
}

.user-information {
  padding: 0px 20px 20px;
  border-bottom: var(--light-border);
}

.user-form-inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.recommendation-message {
  margin-top: 6px;
  font-size: var(--small-text);
}

.birth-date-inputs {
  width: 100%;
  display: flex;
  gap: 4px;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label div:first-child {
  display: flex;
}

.input {
  width: 100%;
}

.buttons {
  justify-content: end;
  align-items: right;
}

strong {
  color: var(--danger-color);
}

@media (max-width: 920px) {
  article:last-child {
    display: none;
  }

  .user-form {
    padding: 20px 0px;
  }

  article .low-side {
    min-height: 40px;
    overflow: hidden;
  }

  .low-side .sidebar-user {
    min-height: 0px;
    height: 42px;
  }

  .low-side .sidebar-user .access,
  .low-side .sidebar-user .exit-sesion {
    display: none;
    opacity: 0;
  }

  .low-side .sidebar-user .account ul li {
    display: flex;
    border-bottom: none;
  }

  .sidebar-user-profile {
    max-width: 100%;
    min-height: 100px;
    border: none;
  }

  .sidebar-user-profile h5 {
    display: none;
  }

  .my-account {
    display: flex;
    justify-content: space-between;
  }

  .my-account i {
    display: block;
  }

  ul li {
    background: none;
    border-bottom: var(--light-border);
    border-radius: 0px;
  }

  ul li p {
    color: var(--text-color);
  }

  .sidebar-user {
    margin: 10px 0px;
    background: none;
    border: var(--light-border);
  }

  fieldset {
    max-width: 100%;
    width: 100%;
    padding: 4px 0px 18px;
  }

  .user-information {
    padding: 10px 0px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .buttons {
    flex-wrap: nowrap;
    padding: 10px 0px;
    width: 100%;
  }

  .buttons .button {
    width: 100%;
  }
}

@media (max-width: 510px) {
  .user-info {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0px;
  }

  .user-profile-photo {
    left: unset;
  }
}