.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  overflow-y: auto;
}

.user-container {
  display: flex;
  width: 100%;
  min-width: 288px;
  max-width: 1400px;
  background: var(--light-background-color);
  border-radius: 10px;
  padding: 15px 15px 150px;
}

.user-content {
  width: 100%;
}

.user-form {
  padding: 0px 20px;
  width: 100%;
}

.buttons {
  justify-content: right;
}

label {
  color: var(--dark-color);
  font-size: var(--regular-text);
}

h4 {
  font-size: var(--title);
  font-weight: 400;
  margin-bottom: 8px;
}

input {
  background: var(--primary-color);
  width: 100%;
  max-width: 500px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 0px;
}

.inputs-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid var(--light-color);
  border-top: 1px solid var(--light-color);
  padding: 14px 0px;
}

.inputs-block div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.roles {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rol-box {
  display: flex;
  width: 100%;
  padding: 5px;
  background: var(--primary-color);
  border-radius: 10px;
}

.rol-box p {
  color: var(--text-color);
}

.rol-color {
  min-width: 20px;
  min-height: 20px;
  background: var(--light-color);
  border-radius: 100%;
  margin-right: 10px;
}

article:last-child {
  min-width: 18%;
  background: var(--light-background-color);
  border-left: 1px solid var(--light-color);
  overflow-y: auto;
}

article {
  height: 100%;
}