@page "/application/{InstitutionId}"
@layout ApplicationLayout
@implements IAsyncDisposable

<PageTitle>Application</PageTitle>

<Dashboard />
<button type="button" class="button"
@onclick="@(async () => await _hubConnection.InvokeAsync("DisconnectUser",_userContext.User.Id))">Desconectar</button>

@code {
  [Parameter]
  public string InstitutionId { get; set; } = string.Empty;
  [Inject]
  private UserContext _userContext { get; set; }
  [Inject]
  private NavigationManager _navigationManager { get; set; }
  [Inject]
  private IUserService _userService { get; set; }
  
  private HubConnection _hubConnection { get; set; }

  protected override void OnInitialized() {
    _userContext.OnChange += HandleStateChange;
    VerifyInstitution();
  }

  protected override async Task OnInitializedAsync() {
    _hubConnection = new HubConnectionBuilder().WithUrl(_navigationManager.ToAbsoluteUri("/onlineUsersHub")).Build();

    await _hubConnection.StartAsync();

    await SetActiveUser();
  }

  private async Task SetActiveUser() {
    await _hubConnection.InvokeAsync("DisconnectUser", _userContext.User.Id);
    await _hubConnection.SendAsync("Connect", _userContext.User);

    _userContext.User.OnlineStatus.Status = true;
    await _userService.Update(_userContext.User.Clone());
  }

  private void VerifyInstitution() {
    if (_userContext.User == null || _userContext.User.Institution == null)
    {
      _navigationManager.NavigateTo("/");
    }
  }

  private void HandleStateChange() {
    VerifyInstitution();
    StateHasChanged();
  }

  public async ValueTask DisposeAsync() {
    if (_hubConnection != null) {
      _userContext.User.OnlineStatus.Status = false;
      await _userService.Update(_userContext.User);

      await _hubConnection.DisposeAsync();
    }
  }
}