<i class="icon @ClassName"></i>
<p>@Content</p>

@code {
  [Parameter]
  [EditorRequired]
  public string ClassName { get; set; } = "";
  [Parameter]
  [EditorRequired]
  public string Content { get; set; } = "";
}