.benefit {
  width: 100%;
  margin: 20px 0px;
  display: flex;
}

section {
  min-width: 50%;
}

section:last-child div {
  min-height: 100%;
  width: 100%;
  background-image: url("https://i.ibb.co/9WcDg4B/screen.png");
  background-position: center;
  background-repeat: no-repeat;
}

.benefit div:first-child {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 10px;
  background: var(--light-blue);
  margin-right:25px;
}

.benefit div:first-child i {
  font-size: 1.4rem;
  color: var(--primary-color);
}

h5 {
  margin-bottom: 10px;
}