section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

section:first-child {
    width: 60%;
}

section:last-child {
    width: 40%;
}

.girl-image {
    align-self: center;
    width: 90%;
    height: 90%;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info {
    display: flex;
}

.info p {
    font-size: 1.2rem;
    background: #D9DFFF;
    padding: 5px 20px;
    border-radius: 10px;
    color: #4361EE;
}

h3 {
    font-size: 3.2rem;
    color: #000;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 span {
    color: #4361EE;
}
