<div class="home-container">
  <section>
    <div>
      <p>
        La mejor herramienta para tu centro
      </p>
    </div>
    <h3>
      Porque la educaci&oacute;n es lo m&aacute;s importante, te brindamos las herramientas necesarias.
    </h3>
    <p>
      Completa disposici&oacute;n para centros educativos y estudiantes.
    </p>
    <div>
      <button>
        <a href="#">Registrarme</a>
      </button>
      <button>
        <a href="#">Soy estudiante</a>
      </button>
    </div>
  </section>
  <section>
    
  </section>
</div>