.home-container {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
    background-image: url("https://i.ibb.co/BVPLF1h/Slide-16-9-8-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-content {
    display: flex;
    min-height: 90vh;
    width: 85%;
}

.home-content section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.home-content section:first-child {
    width: 60%;
}

.home-content section:last-child {
    width: 40%;
}

.girl-image {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-image: url("https://i.ibb.co/yNTYgSd/Group-23.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info {
    display: flex;
}

.info p {
    font-size: 1.2rem;
    background: #D9DFFF;
    padding: 5px 20px;
    border-radius: 10px;
    color: #4361EE;
}

h3 {
    font-size: 3.2rem;
    color: #000;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 span {
    color: #4361EE;
}

button {
    min-width: 190px;
    max-width: 288px;
    padding: 14px 20px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    font-family: "Outfit", "sans-serif";
    font-weight: 300;
}

.buttons button:first-child {
    background: #4361EE;
    color: #fff;
}

.buttons button:last-child {
    background: none;
    border: 1px solid #4361EE;
    color: #4361EE;
}
