<div class="home-container">
  <div class="home-content">
    <section>
      <div class="info">
        <p>
          La mejor herramienta para tu centro
        </p>
      </div>
      <h3>
        Porque la <span>educaci&oacute;n</span> es lo m&aacute;s importante, te <span>brindamos</span> las herramientas <span>necesarias</span>.
      </h3>
      <p>
        Completa disposici&oacute;n para centros educativos y estudiantes. Todo lo que necesites lo encuentras aquí.
      </p>
      <div class="buttons">
        <button type="button">
          Ver planes
        </button>
        <button type="button">
          Soy estudiante
        </button>
      </div>
    </section>
    <section>
      <div class="girl-image">
      </div>
    </section>
  </div>
</div>