<div>
  <span>@IconRoute</span>
  <p>@InputName</p>
  <input type="text" placeholder="@Placeholder">
</div>

@code {
  private string InputName = "default";
  private string Placeholder = "placeholder";
  private string IconRoute = "";
}