<div>
  <span>@IconRoute</span>
  <p>@InputName</p>
  <input type="text" placeholder="@Placeholder">
</div>

@code {
  [Parameter]
  [EditorRequired]
  public string InputName { get; set; } = "default";
  [Parameter]
  [EditorRequired]
  public string Placeholder { get; set; } = "placeholder";
  [Parameter]
  public string IconRoute { get; set; } = "";
}