@inject Context Context

<div class="login-container">
  <div class="login-title">
    <h3>¡Bienvenido de vuelta!</h3>
    <p>Ingresa tu informaci&oacute;n para ingresar.</p>
  </div>

  <div class="login-form">
    <div class="login-form-content">
      <div class="label">
        <i class="fi fi-tr-at"></i>
        <label for="email">Correo electr&oacute;nico</label>
      </div>
      <input class="input" type="email" placeholder="Ingresar correo electr&oacute;nico" id="email">
      <div class="label">
        <i class="fi fi-tr-vault"></i>
        <label for="password">Contrase&ntilde;a</label>
      </div>
      <div class="input-container">
        <input type="password" class="input" placeholder="Ingresa contrase&ntilde;a" id="password" >
        <span class="input-icon">
          <i class="fi fi-tr-low-vision eye"></i>
        </span>
      </div>
    </div>
    <ul>
      <li>
        <input type="checkbox" class="checkbox" >
        <p class="sm-text">Recuerdame</p>
      </li>
      <li>
        <p class="password">¿Olvidaste tu contrase&ntilde;a?</p>
      </li>
    </ul>
  </div>
  <div class="login-button">
    <button type="button" class="button primary-background-button">
      Iniciar sesi&oacute;n
    </button>
    <p>
      ¿No tienes una cuenta? <b>Reg&iacute;strate</b>
    </p>
  </div>
</div>
