@inject NavigationManager NavigationManager

<div class="navbar-container">
  <div class="navbar-content">
    <div>
      <p @onclick="@(() => NavigationManager.NavigateTo("/"))">Logo</p>
    </div>
    <div class="navigation">
      <ul>
        <li>
          <p>Inicio</p>
        </li>
        <li>
          <p>Informaci&oacute;n</p>
        </li>
        <li>
          <p>Planes</p>
        </li>
      </ul>
      <div class="buttons">
        <button type="button">
          Iniciar sesi&oacute;n
        </button>
        <button type="button">
          Registrarse
        </button>
      </div>
    </div>
  </div>
</div>