.navbar-container {
    min-height: 10vh;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
}

.navbar-content div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.buttons {
    gap: 10px;
}

button {
    min-width: 190px;
    max-width: 288px;
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    font-family: "Outfit", "sans-serif";
    font-weight: 300;
}

.buttons button:last-child {
    background: #4361EE;
    color: #fff;
}

.buttons button:first-child {
    background: none;
    border: 1px solid #4361EE;
    color: #4361EE;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-right: 60px;
}

li p:hover {
    color: #4361EE;
    cursor: pointer;
}
