@inject NavigationManager NavigationManager

<div class="navbar-container">
  <div class="navbar-content">
    <div>
      <p class="logo" @onclick="@(() => NavigationManager.NavigateTo("/"))">Landing</p>
    </div>
    <div class="navigation">
      <NavigationLinks />
      @if (!HideButtons) {
        <div class="buttons">
          <button type="button" class="transparent-button" @onclick="@(() => NavigationManager.NavigateTo("/login"))">
            Iniciar sesi&oacute;n
          </button>
          <button type="button" class="primary-background-button" @onclick="@(() => NavigationManager.NavigateTo("/register"))">
            Registrarse
          </button>
        </div>
      }
    </div>
  </div>
</div>

@code {
  [Parameter]
  [EditorRequired]
  public bool HideButtons { get; set; } = false;
}