.navbar-container {
    height: 65px;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.logo {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--primary-color);
    cursor: pointer;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
}

.navbar-content div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

p {
    font-size: 1.2rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-right: 60px;
}

li p:hover {
    color: #4361EE;
    cursor: pointer;
}
