<div class="navbar-container">
  <div class="navbar-content">
    <div>
      <a href="/">Logo</a>
    </div>
    <div>
      <ul>
        <li>
          <a href="">Inicio</a>
        </li>
        <li>
          <a href="">Informaci&oacute;n</a>
        </li>
      </ul>
    </div>
    <div>
      <button type="button">
        <a href="">Iniciar sesi&oacute;n</a>
      </button>
      <button type="button">
        <a href="">Registrarse</a>
      </button>
    </div>
  </div>
</div>