ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 60px;
}

li p:hover {
  color: #4361EE;
  cursor: pointer;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    visibility: hidden;
  }
}