@inject NavigationManager NavigationManager

<ul>
  <li>
    <p @onclick="@(() => NavigationManager.NavigateTo("/application"))">Inicio</p>
  </li>
  <li>
    <p>
      Beneficios
    </p>
  </li>
  <li>
    <p>Planes</p>
  </li>
</ul>
