section {
    min-width: 260px;
    max-width: 260px;
    height: 100%;
    border-left: 1px solid var(--light-color);
}

h5 {
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: 16px;
    font-weight: 300;
    font-size: 0.7rem;
}

.user-info {
    display: flex;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.user-info:hover {
    background: #f3f3f3;
}

.username {
    font-size: 1rem;
}

.useremail {
    font-size: 0.9rem;
}

.user-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 10px;
    border-radius: 100%;
}

.green-circle {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: var(--success-color);
    position: relative;
}