<section>
    <div class="online-container">
        <h5>NOMBRE DEL ROL</h5>
        <div class="user-info">
            <div class="user-image">
                <div></div>
                <div class="green-circle"></div>
            </div>
            <div>
                <p class="username">Nombre del usuario</p>
                <p class="useremail">correoelectronico&#64;gmail.com</p>
            </div>
        </div>
        <div class="user-info">
            <div class="user-image">
                <div></div>
                <div class="green-circle"></div>
            </div>
            <div>
                <p class="username">Nombre del usuario</p>
                <p class="useremail">correoelectronico&#64;gmail.com</p>
            </div>
        </div>
        <div class="user-info">
            <div class="user-image">
                <div></div>
                <div class="green-circle"></div>
            </div>
            <div>
                <p class="username">Nombre del usuario</p>
                <p class="useremail">correoelectronico&#64;gmail.com</p>
            </div>
        </div>
        <div class="user-info">
            <div class="user-image">
                <div></div>
                <div class="green-circle"></div>
            </div>
            <div>
                <p class="username">Nombre del usuario</p>
                <p class="useremail">correoelectronico&#64;gmail.com</p>
            </div>
        </div>
    </div>
    <div class="offline-container">

    </div>
</section>

