<section>
  <div>
    <div class="logo"></div>
    <div class="navigation-container">
      <h5>MENU PRINCIPAL</h5>
      <div>
        @for (int i = 0; i < 4; i++) {
          <div class="button-container">
            <BarButton
              ClassName = "@MenuOptions[i][1]"
              Content="@MenuOptions[i][0]"
            />
          </div>
          }
      </div>
      <h5>MENU SECUNDARIO</h5>
    </div>
  </div>
  <div class="settings">
    <div>
      <span></span>
      <p>Configuraciones</p>
    </div>
  </div>
</section>

@code {
  public List<List<string>> MenuOptions { get; set; } = new List<List<string>>();
  protected override void OnParametersSet() {
    MenuOptions.Add(new List<string>() { "Dashboard", "fi fi-tr-dice-d6" }); 
    MenuOptions.Add(new List<string>() { "Estudiantes", "fi fi-tr-book-bookmark" }); 
    MenuOptions.Add(new List<string>() { "Cursos", "fi fi-tr-hockey-puck" }); 
    MenuOptions.Add(new List<string>() { "Estadisticas", "fi fi-tr-chart-simple-horizontal" });
    MenuOptions.Add(new List<string>() { "Eventos", "" }); 
    MenuOptions.Add(new List<string>() { "Actividad", "" });
  }
} 
