<section>
  <div>
    <div class="logo"></div>
    <div class="navigation-container">
      <h5>
        MENU PRINCIPAL
      </h5>
      <ul>
        <li>
          <div>
            <span></span>
            <p>Dashboard</p>
          </div>
          <div></div>
        </li>
        <li>
          <span></span>
          <p>Estudiantes</p>
        </li>
        <li>
          <span></span>
          <p>Cursos</p>
        </li>
        <li>
          <span></span>
          <p>Estad&iacute;sticas</p>
        </li>
        <li>
          <span></span>
          <p>Pagos</p>
        </li>
      </ul>
      <h5>
        MENU SECUNDARIO
      </h5>
      <ul>
        <li>
          <span></span>
          <p>Eventos</p>
        </li>
        <li>
          <span></span>
          <p>Actividades</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="settings">
    <div>
      <span></span>
      <p>Configuraciones</p>
    </div>
  </div>
</section>

@code {
  public string classSelection { get; set; } = "selection";

  public string Selection() {
    return classSelection;
  }
}