<section>
  <div>
    <div class="logo"></div>
    <div class="navigation-container">
      <span>MENU PRINCIPAL</span>
      <ul>
        <li>
          <span></span>
          <p>Dashboard</p>
        </li>
        <li>Estudiantes</li>
        <li>Cursos</li>
        <li>Estad&iacute;sticas</li>
        <li>Pagos</li>
      </ul>
      <span>MENU SECUNDARIO</span>
      <ul>
        <li>Eventos</li>
        <li>Actividad</li>
      </ul>
    </div>
  </div>
  <div class="settings"></div>
</section>
