<section>
  <div class="sidebar">
    <div class="sidebar-container">
      <div class="logo centered-container">
        <h4>
          Application
        </h4>
      </div>
    </div>
  </div>
</section>
