.top-container {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-color);
}

h3 {
    margin-left: 50px;
}

.left-side-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.left-side-container h3 {
    align-self: center;
    font-weight: 400;
    padding: 0px 20px;
}

.right-side-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.search {
    position: relative;
    align-self: center;
}

.search i {
    position: absolute;
    top: 9px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--text-color);
}

.search input {
    width: 240px;
    font-size: 1rem;
}

.user-info {
    height: 100%;
}

.user-info-data {
    align-self: center;
}

.user-info-data p:first-child {
    font-size: 1rem;
}

.user-info-data p:last-child {
    font-size: 0.8rem;
}
.user-info div:last-child {
    align-self: center;
}

.select-profile-options {
    position: relative;
}

.select-profile-options i {
    font-size: 1.4rem;
    align-self: center;
    padding: 0px 10px;
    cursor: pointer;
}

.profile-options {
    display: none;
    position: absolute;
    top: 50px;
    left: -170px;
    width: 200px;
    height: 150px;
    background: var(--white);
    border: 1px solid var(--light-color);
    border-radius: 10px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px 20px;
}

.icons div {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid var(--light-color);
    cursor: pointer;
}

.user-image {
    align-self: center;
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 15px;
    border-radius: 100%;
}

@media (max-width: 1050px) {
    .search {
        display: none;
    }
}