<div class="top-container">
    <div class="left-side-container">
        <h3>
            @ContentContext.Section
        </h3>
        <p class="route">@ContentContext.Content</p>
    </div>
    <div class="right-side-container">
        <div class="search">
            <i class="fi fi-tr-search-location"></i>
            <input type="text" placeholder="Buscar" class="input">
        </div>
        <div class="icons">
            <div class="centered-container"><i class="fi fi-tr-swatchbook"></i></div>
            <div class="centered-container"><i class="fi fi-tr-bells"></i></div>
        </div>
        <UserInfoOptions Selection="application" />
    </div>
</div>

@code {
    [Inject]
    private ContentContext ContentContext { get; set; }
    public string UserName { get; set; } = "";

    protected override void OnInitialized() {
        ContentContext.OnChange += HandleStateChange;
    }

    private void HandleStateChange() {
        StateHasChanged();
    }
}