<div class="top-container">
    <div class="left-side-container">
        <h3>
            Contenido
        </h3>
    </div>
    <div class="right-side-container">
        <div class="search">
            <input type="text" placeholder="Buscar">
        </div>
        <div class="icons">
            <div><i class="fi fi-tr-swatchbook"></i></div>
            <div><i class="fi fi-tr-bells"></i></div>
        </div>
        <div class="user-info">
            <div class="user-image">
            </div>
            <div>
                <p>Nombre de usuario</p>
                <p>correoelectronico&#64;gmail.com</p>
            </div>
            <i class="fi fi-tr-angle-double-small-down"></i>
        </div>
    </div>
</div>

@code {
    public string UserName { get; set; } = ""; 
}