<div class="top-container">
    <div class="left-side-container">
        <h3>
            Contenido
        </h3>
        <p class="route">Contenido > contenido</p>
    </div>
    <div class="right-side-container">
        <div class="search">
            <i class="fi fi-tr-search-location"></i>
            <input type="text" placeholder="Buscar" class="input">
        </div>
        <div class="icons">
            <div class="centered-container"><i class="fi fi-tr-swatchbook"></i></div>
            <div class="centered-container"><i class="fi fi-tr-bells"></i></div>
        </div>
        <div class="user-info centered-container">
            <div class="user-image">
            </div>
            <div class="user-info-data">
                <p>Nombre de usuario</p>
                <p>correoelectronico&#64;gmail.com</p>
            </div>
            <div class="select-profile-options">
                <i class="fi fi-tr-angle-double-small-down"></i>
                <div class="profile-options">

                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public string UserName { get; set; } = ""; 
}