@page "/application/events"
@layout ApplicationLayout

<PageTitle>Aplicaci&oacute;n | Eventos</PageTitle>

<section>
  <article>
    <div>
      <h4>Eventos de la instituci&oacute;n</h4>
      <p>Busca la informaci&oacute;n de los eventos de la instituci&oacute;n</p>
    </div>
    <div>
      <input type="text" class="input" placeholder="Buscar evento">
      <button type="button" class="button transparent-button">
        Agregar un nuevo evento
      </button>
    </div>
  </article>
  <article>
    <div class="events">
      <div class="events-list">
        <div class="event-card">
          <div class="event-info">
            <div>
              <div class="event-image"></div>
              <div>
                <h3>Este es el nombre del evento</h3>
                <p>Esta es la descripci&oacute;n del evento de la instituci&oacute;n</p>
              </div>
            </div>
            <div class="event-time">
              <div>
                <i class="fi fi-tr-calendar-lines"></i>
                <p>22/7/2023 15:58 PM</p>
              </div>
              <i class="fi fi-tr-question-square"></i>
            </div>
          </div>
          <div class="event-details">
            <div class="organizer-details">
              <h5>Organizador del evento</h5>
              <div class="organizer-details-content">
                <div class="organizer-image"></div>
                <div>
                  <p>Nombre del organizador</p>
                  <p>correoelectronico@edu</p>
                </div>
              </div>
            </div>
            <div>
              <h5>Participantes del evento</h5>
              <div class="participants-images">
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
              </div>
            </div>
            <div class="centered-container users-quantity">
              <i class="fi fi-tr-circle-user"></i>
              <p>6 Usuarios</p>
            </div>
            <div class="centered-container">
              <button type="button" class="button primary-background-button">Editar</button>
            </div>
          </div>
        </div>
        <div class="event-card">
          <div class="event-info">
            <div>
              <div class="event-image"></div>
              <div>
                <h3>Este es el nombre del evento</h3>
                <p>Esta es la descripci&oacute;n del evento de la instituci&oacute;n</p>
              </div>
            </div>
            <div class="event-time">
              <div>
                <i class="fi fi-tr-calendar-lines"></i>
                <p>22/7/2023 15:58 PM</p>
              </div>
              <i class="fi fi-tr-question-square"></i>
            </div>
          </div>
          <div class="event-details">
            <div class="organizer-details">
              <h5>Organizador del evento</h5>
              <div class="organizer-details-content">
                <div class="organizer-image"></div>
                <div>
                  <p>Nombre del organizador</p>
                  <p>correoelectronico@edu</p>
                </div>
              </div>
            </div>
            <div>
              <h5>Participantes del evento</h5>
              <div class="participants-images">
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
              </div>
            </div>
            <div class="centered-container users-quantity">
              <i class="fi fi-tr-circle-user"></i>
              <p>6 Usuarios</p>
            </div>
            <div class="centered-container">
              <button type="button" class="button primary-background-button">Editar</button>
            </div>
          </div>
        </div>
        <div class="event-card">
          <div class="event-info">
            <div>
              <div class="event-image"></div>
              <div>
                <h3>Este es el nombre del evento</h3>
                <p>Esta es la descripci&oacute;n del evento de la instituci&oacute;n</p>
              </div>
            </div>
            <div class="event-time">
              <div>
                <i class="fi fi-tr-calendar-lines"></i>
                <p>22/7/2023 15:58 PM</p>
              </div>
              <i class="fi fi-tr-question-square"></i>
            </div>
          </div>
          <div class="event-details">
            <div class="organizer-details">
              <h5>Organizador del evento</h5>
              <div class="organizer-details-content">
                <div class="organizer-image"></div>
                <div>
                  <p>Nombre del organizador</p>
                  <p>correoelectronico@edu</p>
                </div>
              </div>
            </div>
            <div>
              <h5>Participantes del evento</h5>
              <div class="participants-images">
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
              </div>
            </div>
            <div class="centered-container users-quantity">
              <i class="fi fi-tr-circle-user"></i>
              <p>6 Usuarios</p>
            </div>
            <div class="centered-container">
              <button type="button" class="button primary-background-button">Editar</button>
            </div>
          </div>
        </div>
        <div class="event-card">
          <div class="event-info">
            <div>
              <div class="event-image"></div>
              <div>
                <h3>Este es el nombre del evento</h3>
                <p>Esta es la descripci&oacute;n del evento de la instituci&oacute;n</p>
              </div>
            </div>
            <div class="event-time">
              <div>
                <i class="fi fi-tr-calendar-lines"></i>
                <p>22/7/2023 15:58 PM</p>
              </div>
              <i class="fi fi-tr-question-square"></i>
            </div>
          </div>
          <div class="event-details">
            <div class="organizer-details">
              <h5>Organizador del evento</h5>
              <div class="organizer-details-content">
                <div class="organizer-image"></div>
                <div>
                  <p>Nombre del organizador</p>
                  <p>correoelectronico@edu</p>
                </div>
              </div>
            </div>
            <div>
              <h5>Participantes del evento</h5>
              <div class="participants-images">
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
                <div class="organizer-image"></div>
              </div>
            </div>
            <div class="centered-container users-quantity">
              <i class="fi fi-tr-circle-user"></i>
              <p>6 Usuarios</p>
            </div>
            <div class="centered-container">
              <button type="button" class="button primary-background-button">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="select-date">
      <div class="search-by-year">
        <h5>Buscar por a&ntilde;o</h5>
        <div class="year-selection">
          <div class="centered-container"><i class="fi fi-tr-arrow-circle-left"></i></div>
          <div class="centered-container"><p>2023</p></div>
          <div class="centered-container"><i class="fi fi-tr-arrow-circle-right"></i></div>
        </div>
      </div>
      <div>
        <h5>Buscar por mes</h5>
        <div class="month-list">
          @for (int i = 0; i < Months.Count; i++) {
            <div class="centered-container">
              <p>@Months[i]</p>
            </div>
          }
        </div>
      </div>
    </div>
  </article>
</section>

@code {
  private List<string> Months = new();

  protected override void OnInitialized() {
    Months.Add("Enero");
    Months.Add("Febrero");
    Months.Add("Marzo");
    Months.Add("Abril");
    Months.Add("Mayo");
    Months.Add("Junio");
    Months.Add("Julio");
    Months.Add("Agosto");
    Months.Add("Septiembre");
    Months.Add("Octubre");
    Months.Add("Noviembre");
    Months.Add("Diciembre");
  }
}